[2017-02-03 21:40] kevinkreiser commented on #14
thanks to everyone bearing with us on this. all of the code and commit history as well as all of the issues have been moved to this repository. feel free to clone it, make issues, make prs and get on with getting things done! Also please try to avoid creating new issues against the old repositories. We'll eventually be shutting those down.

[2017-02-04 05:42] ericrwolfe commented on #487
Here's the backtrace on the original segfault (the latest planet during the `Enhancing local graph...` step):

[code]

[2017-02-04 07:14] bradh opened #491 "Fix build procedure on README.md"
The description of the repos and build process needs update after the great merge of Feb 17.

[2017-02-04 08:07] glennon commented on #491
:heavy_check_mark: Indeed -- for example, in the Organization section, links to the various libraries should be changed from their separate, individual repos: https://github.com/valhalla/midgard to their new unified location in the main repo (e.g., perhaps https://github.com/valhalla/valhalla/tree/master/valhalla/midgard ). A few of the libraries seem to have substantial changes, so I did not perf

[2017-02-05 05:27] kevinkreiser commented on #491
the build process was updated here:
https://github.com/valhalla/valhalla#building-and-using
is it not working for you?

correct about the links for the main sections of the library. they shouldnt
link to the old repos they should link to the subsections of the docs. feel
free to pr or we'll get taken care of in a bit.

2017-02-04 3:07 GMT-05:00 Alan Glennon <notifications@github.com>:

[2017-02-05 06:12] bradh commented on #491
It works, but only if you do a recursive checkout (or there is a release, presumably). I did see a problem with parallel builds, but can't reproduce.

I was mainly thinking about the old "module" descriptive part, but a link to https://github.com/valhalla/valhalla/blob/master/docs/overview.md would probably also be useful.

[2017-02-05 20:05] bradh commented on #491
Linking the the usage part still would have been useful...

[2017-02-05 22:37] kevinkreiser commented on #491
@bradh which part do you mean? everything that was in `overview.md` is now part of `README.md`. Do you mean usage as in how to run the programs once built? let us know what you were thinking about or feel free to pr it. ill reopen this so you can let us know what you meant here.

[2017-02-05 22:48] ptpt commented on #185
The PR https://github.com/valhalla/valhalla/pull/495 only fixes one of issues.

The other two issues are:

Path is not allowed for bicycle.

http://valhalla.github.io/demos/routing/#loc=18,37.405545,-122.303251&locations=[{"lat":37.40569589499513,"lon":-122.30403721332549},{"lat":37.4062669000762,"lon":-122.3050993680954}]&costing="bicycle"&directionsoptions={"language":"en-US"}

<img width="1014"

[2017-02-05 22:53] ptpt commented on #185
Also the footpath to the park is not allowed for bicycle

http://valhalla.github.io/demos/routing/#loc=18,37.399579,-122.293021&locations=[{"lat":37.40106803655123,"lon":-122.30712175369263},{"lat":37.3999941279893,"lon":-122.30506181716919}]&costing="bicycle"&directionsoptions={"language":"en-US"}
<img width="415" alt="2017-02-05 11 52 00" src="https://cloud.githubusercontent.com/assets/87357/226

[2017-02-05 22:55] ptpt commented on #185
Methuselah Trail:
http://valhalla.github.io/demos/routing/#loc=18,37.405489,-122.307060&locations=[{"lat":37.40624985521143,"lon":-122.30860233306885},{"lat":37.40568737249825,"lon":-122.30667114257812}]&costing="bicycle"&directionsoptions={"language":"en-US"}

[2017-02-06 13:56] ptpt commented on #185
Reopen the other issues maybe relate to sif or mjolnir.

[2017-02-06 14:11] kevinkreiser commented on #14
the great migration has been a success. if you see any issues or experience any problems feel free to let us know! thanks again to everyone above!

[2017-02-06 14:11] #14 closed

[2017-02-06 14:14] kevinkreiser commented on #487
wrt the comment about edits causing errors. this is not a common error in practice. we routinely get new extracts and test them also in our production systems we continually apply diffs to the planet and make new tiles. since 2 years of doing this or so we've had the planet get borked a total of 3 or 4 times i'd say. its not very common! i think @dnesbitt61 #492 might help with this in the future

[2017-02-06 14:38] dgearhart opened #498 "Process the way junction:ref tag into semicolon separated list"
It appears that the way junction:ref tag is not being processed correctly into a list of values
Example route:
http://www.openstreetmap.org/directions?engine=mapzen_car&route=40.7645%2C-111.9252%3B40.7244%2C-111.9281
![screenshot from 2017-02-06 09-35-22](https://cloud.githubusercontent.com/assets/7515853/22651094/ca8a8812-ec4f-11e6-984c-2b436fbc1850.png)

way example:
http://www.openstreetmap.org

[2017-02-06 18:41] thinker03 opened #499 "Offline Turn-By-Turn Navigation for Openlayer"
I am creating an offline navigation system using OpenLayer,
this is what i have so far,
        1) Routing Capabilities (Without Turn By Turn Navigation)
         2) Marker is Connected to the GPS device
         3) Using tiled base Map (z/x/y.png)
         4) Zoom In and Zoom Out Capabilities
         5) Always Pointing North
         6) Browser is Opera 12 (Mandated Browser)
Do you have a turn b

[2017-02-06 19:01] ericrwolfe commented on #487
Oh wow, that's actually pretty amazing given how unstructured OSM can be.

It looks like the original planet segfault happens when GraphEnhancer tries to find "not thru" edges [mjolnir/graphenhancer.cc#L282](https://github.com/valhalla/valhalla/blob/39e65bf918939f1b5513c96a724d469430d2be92/src/mjolnir/graphenhancer.cc#L282) and
[baldr/graphtile.cc#L334](https://github.com/valhalla/valhalla/blob/39

[2017-02-06 19:23] dnesbitt61 commented on #499
Valhalla provides an open source routing engine (code is within this github repository). It is written in C++ and can be compiled to run in an off-line system. You would have to provide the means to make calls to the service (locally) and to download and store the routing data (called Valhalla graph tiles). So that would satisfy requirement #1. Everything else is outside of Valhalla.

[2017-02-06 19:42] thinker03 commented on #499
Do you have any suggestion? in order for me to create a turn-by-turn feature in my offline navigation system?

[2017-02-06 19:56] kevinkreiser commented on #462
@dnesbitt61 suggests that `loki::Search` when handed a location type `through` and doing heading culling on edges at a node snapped result, should cull the in bound edges as well and only give back the out bound edges. indeed we can probably just say:

[code]

[2017-02-06 20:23] dnesbitt61 commented on #487
Did you try with the latest update to skip any edges from ways with invalid nodes (nodes not found)?  We can try to download the planet and reproduce. Interesting thing is our production OSM import is fine - it applies daily changesets to create its own planet pbf.

[2017-02-06 21:23] dnesbitt61 commented on #499
You can look into the API documentation for Valhalla - that will tell you the type of information that Valhalla returns from a route method. If that is the type of information you need, then you would have to go through the coding to integrate Valhalla into your application. We do not do custom code development. We can answer questions on features, data import methods, and the API.

[2017-02-07 07:45] ericrwolfe commented on #487
Reran with the latest update and got killed in the tile building phase.
[code]

Doesn't look like there were any issues with limited resources:
<img width="826" alt="screen shot 2017-02-06 at 11 42 20 pm" src="https://cloud.githubusercontent.com/assets/664805/22682137/fd94ad02-ecc5-11e6-91c7-ac50b1330324.png">

[2017-02-07 10:54] xlqian opened #503 "3 Tests failed on commit 39e65bf"
Hi Valhalla, Greetings from Navitia again!

We're trying compiling the latest valhalla(v2.0.7 39e65bf) and we encounter 3 failed tests:

[code]
Test Log:
[code]

Just in case, we updated `libzmq`, `czmq` and `prime_server` respectively  to their `master`, can that be relevant to the failures?  Which versions of these libraries are you currently using?

Thank you

[2017-02-07 11:33] xlqian commented on #503
Just as usual, once the question is asked we find a way to resolve it :)

I just found my locale was set to

`LANG=en_GB.UTF-8` and `LANGUAGE=en_GB.UTF-8`

Failures are gone just after I set lang to en_US.UTF-8...

[2017-02-07 13:53] #313 closed

[2017-02-07 14:47] kevinkreiser commented on #503
that is quite strange! what platform are you building on? for ubuntu what we do is we use `locale-gen` to generate locale files for our supported locales. note that we are targetting `en_US` but so far not `en_GB`. i'd be interested to see when you build, what do you have inside of `locales/en_US.UTF-8`. at any rate this looks like an issue we should fix. and you have already given the steps to re

[2017-02-07 14:55] #180 closed

[2017-02-07 18:55] ericrwolfe commented on #487
Reran yet again (with https://github.com/valhalla/valhalla/pull/492 applied) and hit the segmentation fault in
[baldr/graphtile.cc#L334](https://github.com/valhalla/valhalla/blob/39e65bf918939f1b5513c96a724d469430d2be92/src/baldr/graphtile.cc#L334) `node.id() < header_->nodecount()` via [mjolnir/graphenhancer.cc#L282](https://github.com/valhalla/valhalla/blob/39e65bf918939f1b5513c96a724d469430d2be

[2017-02-08 00:18] dnesbitt61 commented on #487
Testing on my local machine (16GB RAM). I am seeing this when building tiles (before the GraphEnhancer part):

2017/02/08 00:00:20.941698 [ERROR] Failed tile 2/623865/0: std::bad_alloc
2017/02/08 00:03:10.051480 [ERROR] Failed tile 2/699474/0: std::bad_alloc
2017/02/08 00:04:52.792462 [ERROR] Failed tile 2/409399/0: std::bad_alloc

that would surely cause issues! Do you know if you saw this?

[2017-02-08 00:23] ericrwolfe commented on #487
Yup! Those are in each of the logs of the original gist (it was probably hard to grok without color formatting): https://gist.github.com/ericrwolfe/20af30839dfaf0d0006171399fb3a177

Any ideas on what it could be?

[2017-02-08 00:26] kevinkreiser commented on #487
its clearly using too much memory so maybe its one of:

* memory leak (hopefully easily fixable)
* not clearing the graph reader caches
* other general code that needs to be less liberal with memory use

[2017-02-08 00:35] ericrwolfe commented on #487
Memory wise, metrics (htop/free/etc) only showed `used` memory at 2-3gb the whole time, but most of the rest of the available memory went to `cached` memory.

`max_cache_size` was set to `1800000000` on an 8 core 16gb machine. Was that value set too high?

[2017-02-08 00:53] dnesbitt61 commented on #487
Since this is happening in BuildTileSet the cache size should not matter. This is the first time a tile is built, so there is no GraphReader and no cache (unless something changed that I'm not seeing). I was seeing larger memory use with top during BuildTileSet method - and I think swap might have been occurring since even though it was using 8 threads the CPU use was very low. I think this part u

[2017-02-08 00:58] ericrwolfe commented on #487
No, I've only run on extracts up until now.

What EC2 instance type do you use? Happy to try on AWS though I'm not sure
how changing the vendor hardware would make much of a difference assuming
similar specs.

FWIW, I enabled swap during one run and it was never used.

On Tue, Feb 7, 2017 at 4:53 PM, David Nesbitt <notifications@github.com>
wrote:

[2017-02-08 01:01] kevinkreiser commented on #487
ok so not the caches option then. either memory leak or other way oversized data structures. the former should be pretty easily checked with valgrind. i can give it a shot if you like.

[2017-02-08 08:26] ericrwolfe commented on #487
Valgrind output on a smaller extract of SF dual-core/2GB ram machine: https://gist.github.com/ericrwolfe/75fbacb21946cc0806d909c4bb88f2ec

Doesn't seem like there are any leaks, but not sure if that's a false positive because of the smaller extract & certain code paths not being hit. Docs said valgrind runs 20-30x slower so didn't want to try on the planet or a larger extract. Feel free to give it

[2017-02-08 16:20] kevinkreiser commented on #487
@ericrwolfe nah i would have done the same thing! seems that the most likely culprit would now be just using too much memory in general in that particular area of the code... i believe @dnesbitt61 has attempted to isolate this to specific bits of code by commenting out certain portions. we'll see what he turns up.

[2017-02-08 16:23] dnesbitt61 commented on #487
no luck after commenting out complex restriction code (recently added) and admin/timezone code. Now trying with lower thread count for BuildLocalTiles to see if that works

[2017-02-08 18:20] kevinkreiser commented on #462
so the above was the wrong idea. apparently from the docs what we really wanted was that when it was a through location we wanted to only have the outbound edges that match the heading. i've implemented this but there is logic in thor that doesnt play well with it. i'm now in thor seeing if i can make sense of that to make this work!

[2017-02-08 18:46] dgearhart commented on #479
@paolobenve I was hoping you could provide some clarification with the "articulated preposition"
Do these rules need to be created per instruction or are they global - that is: all ` su la ` should be replaced with ` sulla `?

[2017-02-08 19:39] paolobenve commented on #479
"articulated preposition" means a preposition which is joined to the following article.

Yes, in italian `su la` doesn't exist, it always becomes `sulla`, and this is true for all the combinations in the table given in http://faculty.washington.edu/gtassone/uw/preposizionia.htm

[2017-02-09 12:22] dnesbitt61 commented on #487
@ericrwolfe - With 2 threads for BuildLocalTiles (code change line 848 in graphbuilder.cc) it did not have any memory alloc issues or errors until HierarchyBuilder. This issue already exists for this problem: https://github.com/valhalla/valhalla/issues/470. Unsure if we have a quick workaround for this part of the process - it is single-threaded but has to create some mappings that use up memory.

[2017-02-09 14:06] kevinkreiser opened #510 "Narrative/Directions Translations via TranslateWiki"
@nemobis @nikerabbit are main contributors to the TranslateWiki project and I'd reached out to them a few weeks ago at this point to see what it would take to create a project for valhalla's [narrative file](https://github.com/valhalla/valhalla/blob/21d0c4b3fb5b0ecc5dd494944b9c34bf0ce76d65/locales/en-US.json)

They seem to support json but there are open questions about translating something that

[2017-02-09 14:12] nemobis commented on #510
Thanks! IIRC the main work needed is to [add message documentation](https://translatewiki.net/wiki/Translating:Localisation_for_developers#Message_documentation) as a qqq.json format and have a writeup somewhere about the format and source of the variables you use so that translators understand it.

The JSON format in itself should be supported but I had not looked in detail and I defer to Niklas

[2017-02-09 15:58] dnesbitt61 commented on #470
Investigating use of sequence to replace the unordered_map that associates original nodes with nodes across the hierarchies. This should reduce memory - need to validate performance on larger datasets.

[2017-02-09 15:59] dnesbitt61 commented on #487
Investigating use of sequence rather than large unordered_map within HierarchyBuilder to see if this helps.

[2017-02-09 16:02] dnesbitt61 commented on #279
this is done!

[2017-02-09 16:02] #279 closed

[2017-02-09 16:20] dnesbitt61 commented on #449
We did some recent work on validating nodes referenced by ways. This PR might help this: https://github.com/valhalla/valhalla/pull/492
We are also reworking Docker in the near future.
I am going to close this issue - feel free to open new issue if this persists

[2017-02-09 16:20] #449 closed

[2017-02-09 16:25] #491 closed

[2017-02-09 16:54] xlqian commented on #503
I'm work in ubuntu15.04.
Note that I shot this bug by copying `en-US.json` and renaming this file to `en-GB.json` and its alias, no more test failures.
I'm not a expert in locales and i hope this is useful for you.

[2017-02-09 17:22] dnesbitt61 commented on #465
closing this for now. As we get closer to Open Traffic integration we can follow-up. In the meantime if you have other questions or issues feel free to contact us or open new issues.

[2017-02-09 17:58] ericrwolfe commented on #487
@dnesbitt61 Ah, looks like r3.2xlarge is 8 cores 61gb ram. I was working of the specs outlined in the [Mjolnir getting gtarted guide](https://github.com/valhalla/valhalla/blob/master/docs/mjolnir/getting_started_guide.md#data) (4 core 16gb ram).

Did the hierarchy builder changes significantly bump the memory requirements? How much of the 61gb RAM is generally used when you build on the r3.2xlarge

[2017-02-09 18:02] dnesbitt61 commented on #487
Not sure on either question! We refactored the hierarchy builder several months ago and while it was simplified nicely it was not fully tested for memory use. We have generally done planet import and builds on AWS boxes and leave smaller extracts (like North America) for local building on laptops (4 core, 16GB RAM). I am hopeful that with the HierarchyBuilder change to use sequences and a change t

[2017-02-09 19:17] ericrwolfe commented on #487
Yeah, that'd be amazing.

@dnesbitt61 Approx how long does `valhalla_build_tiles` take on a r3.2xlarge box? I can probably just build on one of those in the meantime.

[2017-02-09 19:36] dnesbitt61 commented on #487
19 hours - but that is with elevation and transit integration. A bit less with just OSM

[2017-02-10 14:49] #479 closed

[2017-02-10 17:07] ericrwolfe commented on #487
I kicked off a new build on a 64gb ram machine, will report back on what happens.

In the meantime I noticed the memory usage is still around 2.5gb `used` and the majority of the total memory used up by `buff/cache`. This is with `"concurrency": 8` and `"max_cache_size": 6800000000` in the conf file.

[code]

`htop` is showing 100% memory usage per thread, even with 64gb of ram, in the building ti

[2017-02-10 20:34] dnesbitt61 commented on #487
My laptop powered down inadvertently right as it was starting to build tiles - so I'll have to wait until overnight to rerun this.

[2017-02-10 23:10] ericrwolfe commented on #487
Machine with 64gb ram worked successfully in about 13.5 hours 👍.

I did get a bunch of errors along these lines:
[code]
This is probably related to the fact that I was using an admin.sqlite file generated separately from this planet file. Are the errors safe to ignore or are the tiles useless without building `admin.sqlite` together with the tiles?

Here's the memory usage over time:
<img width="8

[2017-02-11 16:17] AlbertJP commented on #14
The first post's text (ie the description of the issue) is missing in many (all?) issues copied from the sif repository. #419 is an example of an issue which is still open, which is missing its description.

[2017-02-11 16:42] dnesbitt61 commented on #487
I was able to get the planet import to work on my laptop (16GB RAM). It took nearly 16 hours.

I will submit a PR Monday for hierarchybuilder.cc. I had to use 2 threads for the initial tile build stage. We will have to figure out how to make that either configurable or discoverable based on system memory.

Those admin errors are "normal" - we store at a state/province level and there is one countr

[2017-02-13 02:04] kevinkreiser commented on #14
thats true. halfway through copying issues for @dnesbitt61 we made a change
to the script that did the copying to be robust to issues without a `body`.
this resulted in losing the `body` of the issues copied after that point.
its definitely not all of them but its a decent number. ive been copying
the bodies of the ones ive found still in google cache for the issues that
are still open. i havent d

[2017-02-13 13:59] arne7morgen commented on #12
Is there any progress with this issue. I am also very interested in Berlin.

[2017-02-13 14:02] #470 closed

[2017-02-13 14:17] gknisely commented on #12
I am checking with the Transitland team.

[2017-02-13 15:41] kevinkreiser commented on #14
@AlbertJP im running a job to move the missing bodies (sounds more murder-y than it really is) into the new issues. it was well over the 50 i had originally quoted! ill paste a list of affected issues when done.

[2017-02-13 15:48] kevinkreiser commented on #14
full list of issues which have been updated to contain the original bodies are as follows:

475
474
473
469
468
467
466
465
464
463
461
460
459
458
457
453
452
451
450
449
448
447
446
445
444
441
440
439
438
437
436
435
434
433
432
431
430
429
428
427
426
425
424
423
422
421
420
419
418
417
416
415
414
413
412
411
410
409
408
407
406
405
404
403
402
400
399
398
397
396
389
388
387
386
385
384
383

[2017-02-13 15:52] #498 closed

[2017-02-13 17:00] dnesbitt61 opened #517 "Internal Intersection Edges - Opposing are not marked"
It seems that many (or most?) cases where a directed edge is marked as internal its opposing edge is not marked as internal.

[2017-02-13 17:07] dnesbitt61 commented on #487
I merged a PR to allow HierarchyBuilder to work with less memory. I did not make any changes to the number of threads used in graphbuilder: change line 845 in graphbuilder.cc to  this:

std::vector<std::shared_ptr<std::thread> > threads(2);

I'll keep this issue open for a little so we can continue to investigate. Progress is a bit slow since it takes a while to test updates!

[2017-02-14 06:10] rroset opened #518 "Catalan is missing from available languages"
I could translate the strings file to catalan (ca-ES, Catalan – Catalan,  0x0403,  CAT) which is now missing and thus have the routing instructions in my own language. If it makes sense to you.

[2017-02-14 13:01] kevinkreiser commented on #518
@rroset that would be fantastic! please let us know if you have questions.

[2017-02-14 13:03] dgearhart commented on #518
@rroset please follow instructions here: https://github.com/valhalla/valhalla/blob/master/locales/README.md
Thanks!

[2017-02-14 14:54] #60 closed

[2017-02-15 18:13] noblige opened #526 "test/grid_traversal failing on i686-linux-gnu"
[code]

[2017-02-15 19:23] #462 closed

[2017-02-16 13:21] dgearhart commented on #160
Do we need this logic or will this issue be handled by #159

[2017-02-17 13:07] dnesbitt61 opened #535 "EdgeInfo Shape decoding/encoding during HierarchyBuilder"
During HierarchyBuilder (and also ShortcutBuilder when adding non-shortcut edges) we get the shape (decoded) and then just add it back when creating a new EdgeInfo (which encodes it again). Could reduce decoding and re-encoding if we allowed just passing the shape string into a version of AddEdgeInfo.

[2017-02-17 13:17] #159 closed

[2017-02-17 13:17] #160 closed

[2017-02-17 13:22] #465 closed

[2017-02-17 13:24] dnesbitt61 commented on #418
Closing this issue due to lack of new information/activity. Feel free to open a new issue.

[2017-02-17 13:24] #418 closed

[2017-02-17 13:25] dnesbitt61 commented on #353
Closing this issue due to lack of recent activity. Feel free to open a new issue if this is still important.

[2017-02-17 13:25] #353 closed

[2017-02-17 13:27] #390 closed

[2017-02-17 13:59] dgearhart commented on #75
@ptpt any progress on this one?

[2017-02-17 14:34] dnesbitt61 opened #537 "Allow higher distance limit for auto/driving matrix methods"
While pedestrian and bicycle are very sensitive to distances between locations in matrix calls (since all roads/paths must be considered), driving modes should be able to work on larger distances since the CostMatrix methods work with the network hierarchy to limit lower class roads that are not near any of the input locations.

[2017-02-17 14:42] ptpt commented on #75
I'm going to do it today. Where should I read the incoming shape and place the match shape?

1. send shapes (GeoJSON) to `POST /trace_attributes` and get matched shape from the response, as meili does https://github.com/valhalla/valhalla/blob/master/docs/meili/service_api.md
2. or put shape in the `json` URL parameter and place match shape in the `shape` property as `trace_attributes` does https:/

[2017-02-17 14:43] ptpt opened #538 "Add meili config"
https://github.com/valhalla/valhalla/blob/master/scripts/valhalla_build_config

[2017-02-17 14:53] kdiluca commented on #189
We have added original_index to locations for the optimized_route response.  This will be in our next release.

[2017-02-17 14:53] #189 closed

[2017-02-17 15:48] kevinkreiser commented on #75
if i understand you correctly, i think we want to do both in the end.

1. it would be nice to deprecate the meili stand alone service and just be able to access it via `valhalla_route_service` like the rest of the services. the thing about that option is that it will take a lot more work

2. i think this one will be a lot easier. basically we just need to also return (in the json) the matched shap

[2017-02-17 15:53] dnesbitt61 commented on #75
Yes, I like this approach. Only on trace_attributes (since modifying a route result would be much harder) with an input to specify whether you want the optional return.

[2017-02-17 18:39] dnesbitt61 opened #540 "Shortcuts can create loops"
Shortcuts can be formed that create loops. Determine if this causes issues and if so prevent shortcuts from ending at the same node they start.

[2017-02-18 21:38] ericrwolfe commented on #487
What'd you set your `max_cache_size` to while running on your 16gb laptop?

I tried running once with your new PR but without changing line 845 and the process hit a bad_alloc error:
[code]

Restarted after changing the line `std::vector<std::shared_ptrstd::thread > threads(2);` and it made it through graph builder but failed at the final step:
[code]
(No core file was saved).

I should note that

[2017-02-19 03:45] bentley opened #543 "Build failure on OpenBSD: loki/search.cc"
valhalla-2.0.8 and -2.0.9 fail to build on OpenBSD amd64 with GCC 4.9.4. (valhalla-2.0.7 built fine.)

    c++ -DHAVE_CONFIG_H -I. -I./valhalla -pthread -I/usr/local/include -DBOOST_SPIRIT_THREADSAFE -DBOOST_NO_CXX11_SCOPED_ENUMS -I/usr/local/include -pthread -I/usr/include -I/usr/ports/pobj/valhalla-2.0.8/valhalla-2.0.8/valhalla -I/usr/ports/pobj/valhalla-2.0.8/valhalla-2.0.8/valhalla/proto -Igen

[2017-02-19 16:48] dnesbitt61 commented on #487
I don't alter any of the config variables (max_cache_size included).  Pretty sure this is due to lack of disk space. The last stage (GraphValidator) also bins the edges, adding indexes to the tiles to facilitate edge searching. So lack of disk space could be a factor here.

[2017-02-21 16:35] #543 closed

[2017-02-21 19:17] #517 closed

[2017-02-21 19:31] kdiluca opened #551 "Segment Matcher - Create indices into input shape"
Need to create a start and end index for the gpx input shape for the Reporter.

The Reporter will need the indices to access the the correct portion of input shape to store in Redis.

[2017-02-21 20:44] kdiluca commented on #189
Fix in production.  Example:
http://matrix.mapzen.com/optimized_route?json={"locations":[{"lat":40.042072,"lon":-76.306572},{"lat":39.992115,"lon":-76.781559},{"lat":39.984519,"lon":-76.6956},{"lat":39.996586,"lon":-76.769028},{"lat":39.984322,"lon":-76.706672}],"costing":"auto","units":"mi"}

[2017-02-21 21:51] #518 closed

[2017-02-23 16:18] dnesbitt61 opened #555 "TransitBuilder - only connects to nodes within same tileId"
May be useful to restructure code to do split the ConnectToGraph method into 2 parts and to update AddOSMConnections. Code would:

Iterate through transit tiles
   Connect transit nodes to OSM ways
      Update transit tile to connect to both nodes of connected edge (currently only connects if within the same tile Id)
   Add to list of connections needed from OSM nodes to transit nodes

Iterate th

[2017-02-24 17:22] dgearhart opened #559 "Add locale support to dev and prod environments"
Update chef to cook it properly
pair with @kevinkreiser

[2017-02-24 17:22] #559 closed

[2017-02-24 19:46] erictheise opened #561 "OS X: configure: error: cannot find protobuf headers, please install libprotobuf-dev."
I'm following the installation instructions in `README.md` and getting

[code]

while running `./configure`. I've installed `protobuf-c` and other listed prereqs via Homebrew.

This is on an up-to-date iMac running OS X 10.12.3 (Sierra). Suggestions?

[2017-02-24 20:30] erictheise commented on #561
Seems to have been caused by the otherwise innocuous upgrade to Sierra.

[code]

got me over this hump.

[2017-02-24 20:30] #561 closed

[2017-02-24 23:13] erictheise opened #562 "valhalla_build_tiles cant find – doesn't create? – admins.sqlite & timezones.sqlite"
I'm running `valhalla_build_tiles` as described in the [Running](https://github.com/valhalla/valhalla#running) section. Whether I do this using the Ubuntu PPA or an OS X Homebrew installation, the result is the same; many such warnings:

[code]

I've replaced my real path, which is correct, to `/path/to`.

If I `touch` these files, the procedure does not produce any warnings, seems to run for much

[2017-02-25 03:02] gknisely commented on #562
Hey @erictheise

You need to build the admins and the timezone db.  More information can be found here:  https://github.com/valhalla/valhalla/blob/master/docs/mjolnir/getting_started_guide.md

Let me know if you need more help or have more questions.

--Greg.

[2017-02-25 03:48] erictheise commented on #562
Thanks @gknisely. For the admins db, I get 18 of these:
[code]
I am using a Geofabrik extract for the state of California and this message suggests to me that I should not ignore the error. Advice?

For the timezones db, I get
[code]
which, since I am on OS X, I can install via
[code]
Which gets me to
[code]
which has no direct correlate in OS X. `libspatialite` is already installed.
[code]
seems

[2017-02-25 04:19] gknisely commented on #562
You should not worry about the Not Null admin errors as you are just dealing with CA.  So sorry about the timezone issues....I will make sure to get it up to date/consistent.  Thank you for reporting this!

[2017-02-25 04:21] erictheise commented on #562
Thanks again for your help, @gknisely.

[2017-02-25 04:21] #562 closed

[2017-02-25 04:56] erictheise opened #564 "Unable to parse command line options because: too many positional options have been specified on the command line"
I need times & distances for 49 origin-destination pairs across Southern California. Distances exceed the 200km `max_distance` you provide through your public API. I am slogging through @burritojustice's support email in order to get a local install working. I find few differences between the Ubuntu PPA and the OS X install via Homebrew and am working with the latter.

I believe the diagnostic mes

[2017-02-25 12:17] dnesbitt61 commented on #564
valhalla_run_matrix is a test program You could run the valhalla server (valhalla_route_service) and then send JSON requests to localhost as you would to the hosted service.

To use the JSON in this program it seems that you need to enclose it with single quotes (').

./valhalla_run_matrix --config valhalla.json --matrixtype many_to_many -t auto -j '{"locations":[{"lat":40.748174,"lon":-73.984984,

[2017-02-26 19:51] paolobenve opened #565 "foot route doesn't continue on a surface=compacted way"
See:

http://www.openstreetmap.org/directions?engine=mapzen_foot&route=44.42990%2C8.80924%3B44.43027%2C8.80886#map=19/44.42997/8.80915

I expect that the route continues on the surface=compacted way, but it stops where it begins

[2017-02-27 13:53] dnesbitt61 commented on #565
It looks like this way was just added yesterday? It takes somewhere between 1-2 days for data edits in OSM to be imported into our routing solution.

[2017-02-27 13:53] #565 closed

[2017-02-27 15:12] kdiluca commented on #551
This is complete: https://github.com/valhalla/valhalla/pull/560

[2017-02-27 15:12] #551 closed

[2017-02-27 18:48] chrisfosterelli opened #566 "Negative OSM ID's cause segmentation fault"
This is part of the `valhalla_build_tiles` program.

Steps to reproduce:
1. Start with minimal OSM file `test.osm` (see below)
2. Convert file to PBF using `osmconvert test.osm -o=test.pbf`
3. Run `valhalla_build_tiles --conf /source/conf/valhalla.json test.pbf`
4. Observe segmentation fault immediately (see output below)

Output:
[code]

Simple XML test file (`test.osm`)
[code]

PBF file: [test.p

[2017-02-27 19:45] gknisely commented on #566
Is this a editor produced osm file?  Usually, the osm ids are assigned when you upload the data.

We need the osm ids to properly create the routing graph.  We also require the pbf to be sorted.

[2017-02-27 19:48] kevinkreiser commented on #566
we have a little tool to help with `.osm` extracts before converting them to pbf. we could extend [this tool]( scripts/sort_osm.py) to fix up the ids as well

[2017-02-27 21:38] paolobenve commented on #565
Now the foot route is ok, but there is something weird, because the only change that was made to the road was setting a part of it as a tunnel, in a point which isn't inside the calculated route...

[2017-02-27 22:32] chrisfosterelli commented on #566
@gknisely We are using a conversion script to switch from Shapefile to OSM. Most of the tools appear to output negative ID's. [ogr2osm](http://wiki.openstreetmap.org/wiki/Ogr2osm) luckily supports switching back to positive, but this still took a while to track down since Valhalla just segfaults and negative ID's are supposed to be valid :)

The file is sorted, I meant to say that if you switch th

[2017-02-28 13:23] Nikerabbit commented on #510
I wrote a [WIP patch](https://gerrit.wikimedia.org/r/332941). It can parse the JSON, but as we do not support lists (as the length can be variable), those are exported as maps.

[2017-02-28 13:28] kevinkreiser commented on #510
that seems ok to me! we can easily do the work to turn maps back into lists with a few lines of python. i noticed your changeset had a reference to the `odin` repo. we've migrated everything into this single repo.

[2017-02-28 14:01] kevinkreiser commented on #566
yeah its strange. the only time ive ever encountered negative ids is in osm2pgsql tables where ways which are part of relations get their original id negated to denote they are member of a relation iirc

[2017-02-28 15:26] dnesbitt61 commented on #565
Do you have an an example of what the new is?

[2017-03-01 15:16] Nikerabbit commented on #510
Example diff: https://translatewiki.net/static/temp/valhalla.diff (It's large because all the formatting changes).

It's actually little bit more complicated: If the array indexes are consecutive from zero upwards, then PHP decides it's a list, otherwise a map.

Also, if you need the country codes to be always present, then there is some work to do to add those language code mappings.

[2017-03-01 15:27] kevinkreiser commented on #510
ah ok no worries. all we'd have to do then in python is check the type. if `phrases` came out as `list` then we'd change it back into a map with consecutive indices starting at `0`. if it came back as a map it looks like its already correct.

i guess my question is, where would this code go? is there a way we can make per project modifications to the output within the translatewiki workflow. so th

[2017-03-01 15:36] Nikerabbit commented on #510
I'm reluctant to make any exceptions on our side. To keep overhead low, all projects go through same set of scripts with minimal human intervention. For GitHub we don't even support pull requests. Direct pushes are the only option. The frequency of updates coming to you would be about two per week, while we import updates from you multiple times a day.

Oh, you likely already are aware of this, bu

[2017-03-01 16:06] Nikerabbit commented on #510
There is no support for different filenames on export. We can export to a different branch, though not recommended by us.

There is https://phabricator.wikimedia.org/T139942 which involves a similar type of thing (automating something about exports that depends on a project), but if that requires running code (which is not controlled by us) on our server, that has obvious security implications tha

[2017-03-01 16:15] kevinkreiser commented on #510
now im a bit confused! i would assume that in most cases someone would be translating `en-US.json` surely on export the file coming back wouldnt be named `en-US.json` right? It would instead be named whatever the target langauge code is like `de-CH.json`? in any case what about this:

we duplicate `en-US.json` and name it something like `en-US.json.translate-wiki` and have that be the file that is

[2017-03-01 16:20] kevinkreiser commented on #510
ps. sorry for moving so slowly on this, i havent had time to take a deep look at how it all works. i very much appreciate all the time you are spending teaching us the ropes on how this works!

[2017-03-01 16:22] Nikerabbit commented on #510
I mean that if we read existing translations from fi-FI.json, then we also export to fi-FI.json. The only thing that varies is the language code.

What you suggest could perhaps be possible, but I very strongly advice against any manual human intervention that would be required for *every* update. One primary goal is to deliver the translations to the users as quickly as possible. For Wikipedia we

[2017-03-01 16:32] kevinkreiser commented on #510
then it does seem that we are left with option 1, support arrays or maps. i can think of some hacks to force this downstream php code to always see it as a map just add a key at the begging or end.

this brings up some more questions as im begginning to understand.

1. how do new languages which have 0 coverage in our system come into the system? so lets do Finnish. We are missing `fi-FI.json` at

[2017-03-01 16:37] Nikerabbit commented on #510
1) It will be created once translation coverage for the language is over threshold (35% is the default). Like I said above, and as you can see in the diff, it would be created as fi.json unless we add language code mappings.

2) Additions are okay (except in lits where it would case renumeration). Changes to existing strings are also okay (we track which translations need to be updated). Deletions

[2017-03-01 17:27] kevinkreiser commented on #510
1. will be a bit of a problem for us as our api uses these code mappings as the means of specifying which language/locale you want. we wont be able to change those mapping as its written into the api. to work with the translate-wiki does it mean that we will have to rename all of our existing files, or does it mean that just the new ones from translate-wiki will be missing the locale or?

2. great

[2017-03-01 17:38] Nikerabbit commented on #510
1) New files will be missing the country part, unless we add a code map.

2) WRT to missing keys/items: it would be best if you could fallback to English. In PHP I would do array_merge_recursive (and treating all lists as maps while doing so). If a list is missing items, then it is exported as a map.

[2017-03-01 21:18] dnesbitt61 commented on #471
We have added code in Valhalla to allow a client to pass in a list of "avoid_locations". We will be documenting this features and releasing it in the near future (perhaps as early as next week).

[2017-03-02 21:54] kevinkreiser commented on #510
is there any way that you could run en-US.json through this process, omit some of the translation strings so that they will come out as if they would when say a file is only 35% translated, and then attach it to this issue? then we can go off and see if we can write our software to do all of the fallback logic. if not, could you point me to some software from your repositories so i could have a go

[2017-03-04 00:40] irees opened #574 "After-midnight transit isochrones"
Late night transit isochrones seem to return walking results.

Ex.  Vancouver
23:59 - includes transit
`{"locations": [{"lat": 49.282, "lon": -123.1225}], "date_time": {"type": 1, "value": "2017-03-01T23:59"}, "contours": [{"time": 15}, {"time": 30}, {"time": 45}, {"time": 60}], "costing": "transit", "polygons": true}`
http://matrix.mapzen.com/isochrone?json=%7B%22locations%22%3A+%5B%7B%22lat%22%3

[2017-03-06 18:43] kevinkreiser commented on #510
@Nikerabbit i was also wondering how one should begin creating a `qqq.json`. from my understanding this is the file which gives guidance to translators as they do their translations. can you point us to the guidelines for this.

[2017-03-06 19:10] kevinkreiser opened #576 "traffic segment matcher interpolation"
currently the traffic segment matcher has a few bugs around partial segments and the timing information at the start and end of a segment.

@dnesbitt61 and @kdiluca and I had a meeting about how to refactor it to interpolate the times at begin and end of each segment. ive begun the refactor but really hate testing it. so i'm going to make it into a unit test with static tiles. at some point we can

[2017-03-07 20:45] dianashk opened #578 "Polylines build is missing some previously available streets"
Hi Valhalla friends! Thanks for the awesome polylines build we use regularly for street information.

In the recent builds, some streets that used to be there are missing. 😱
Here's a list of those that our acceptance tests identified as missing. We know these tests used to pass and still do on our production build, so something in the latest build is funky. Let us know if there is any additional i

[2017-03-15 17:19] yakovzvi opened #586 "Format"
Will Walhalla work with one of this formats:
 MIF / GDF / RDF
Thank You Very Much !!
Yanky

[2017-03-15 17:23] dnesbitt61 commented on #586
Valhalla only imports OpenStreetMap pbf (protocol buffer) format. If you can convert/map these formats into OSM pbf then Valhalla could work.

[2017-03-16 12:16] dnesbitt61 commented on #578
this was fixed by #587 - will update production so that early next week should have updated and complete data.

[2017-03-16 12:16] #578 closed

[2017-03-16 12:17] #586 closed

[2017-03-16 12:18] dnesbitt61 commented on #564
closing this issue

[2017-03-16 12:18] #564 closed

[2017-03-16 13:06] dnesbitt61 opened #591 "Validate SIF costing options"
Need to validate SIF costing options and clamp to "reasonable" values. e.g., costing factors and penalties below 0 should never be allowed!

[2017-03-16 14:05] dnesbitt61 commented on #471
avoid_locations options has been pushed to production. Let us know if this works for you or if you have any follow-on questions.

[2017-03-16 14:05] #471 closed

[2017-03-16 14:06] #469 closed

[2017-03-16 19:58] #574 closed

[2017-03-17 13:59] #535 closed

[2017-03-17 17:23] dnesbitt61 opened #599 "Check use of GetOptional (RapidJSON and Ptree) with int"
Crash occurred when supplying a float value within JSON input and reading it using GetOptionalFromRapidJson. May also be a crash with ptree GetOptional. Fixed one case for heading in location, but need to look at all other uses and make sure it properly handles float values as input.

[2017-03-19 01:14] gaoliangmi opened #601 "How do I commpile valhalla on CentOS 7"
When I run  ./configure script , i got a error as below:
checking for ANSI C header files... (cached) yes
checking whether g++ supports C++11 features by default... no
checking whether g++ supports C++11 features with -std=c++11... no
checking whether g++ supports C++11 features with -std=c++0x... no
configure: error: *** A compiler with support for C++11 language features is required.

my gcc ver

[2017-03-19 01:24] #601 closed

[2017-03-20 09:35] Nikerabbit commented on #510
GitHub doesn't allow attaching json files: https://translatewiki.net/static/temp/en-US.json

For message documentation, please see https://translatewiki.net/wiki/Translating:Localisation_for_developers#Message_documentation

[2017-03-20 14:01] kevinkreiser commented on #510
this is great! i'm going to make a branch with t his file in there and see if i can get the code to make use of it without error. i'll see if i cna make a test that also randomly removes some of the values so that we are robust to falling back to `en-US` as well.

[2017-03-20 15:19] kevinkreiser commented on #510
created a branch: https://github.com/valhalla/valhalla/tree/kk_wikitranslate

ill get some tests going that load this file and it should fail when:

* it treats things as arrays that are maps
* it looks for values that arent there

i'll then look into making the api:

* falling back to map key access when the array isnt working
* falling back to en-US when a given key doesnt exist

after these fea

[2017-03-20 18:18] #576 closed

[2017-03-20 18:23] #402 closed

[2017-03-20 20:29] #9 closed

[2017-03-20 21:40] irees commented on #12
There was an issue with how the updated Berlin feed uses nested zip files ( https://github.com/transitland/transitland-datastore/issues/1022 ); this has been fixed and should be part of the next production release later this week.

[2017-03-21 06:29] Nikerabbit commented on #510
The above sounds good. Adding things to en-US.json is easy (just keep in mind the limitations I mentioned above). For commit access, we use @translatewiki account, which will push commits.

[2017-03-21 17:07] kevinkreiser opened #603 "traffic segment matching reports wrong length"
in some situations, real world traces, the segment length can be reported incorrectly. find these bugs and scrub them.

[2017-03-22 12:19] kevinkreiser opened #607 "pbf fat trimmer"
it would be cool if we could write an application that does the following:

* rips through an osm pbf file listing all way, node and relation ids that valhalla cares about
* runs over the pbf file a second time removing those objects whose ids aren't present in the list
* overwrites the original pbf with this slimmed down list

this would be useful to run on the extracts we use for tests. it has t

[2017-03-23 12:13] kevinkreiser opened #609 "map matching sample sequence tests"
it seems it would be good to have some end to end tests with map matching both for debugging and as a regression protection mechanism. since we already have the utrecht extract for other tests we may as well use it for this as well (its the largest extract we have).

@kevinkreiser can set up the testing infrastructure, getting the tiles cut and ready for @ptpt to add the test sequences. this can b

[2017-03-24 14:27] kevinkreiser opened #613 "if no json is provided in body or get line we crash"
again rapidjson being loaded with asserts instead of exceptions is screwing us. this time we didnt initialize the rapidjson document in the case we got no json post or get. we then try to insert stuff into it via query params and it blows up because its not initialized to a json object type. thanks to @missinglink for noticing this

[2017-03-24 14:42] #613 closed

[2017-03-27 15:53] kevinkreiser opened #620 "map matching score using time values"
so we recently added an `epoch_time` value to the `Measurement` and `MatchResult` objects in `meili`. i was wondering if when map matching we could make use of those to down weight paths between certain candidates. basically my thought is that if a certain candidate route between points has a computed time of `X` but the difference in `epoch_time` on the `Measurements` is `Y` and they are very far

[2017-03-27 20:41] ptpt commented on #620
@kevinkreiser Yes, totally make sense.

Two places need to be changed to support weighting based on travel time.

1. put travel time into Label https://github.com/valhalla/valhalla/blob/master/src/meili/routing.cc#L507-L513 (This part is tricky as the code is getting messy there. I'd be happy to assign myself to add it).

2. calculate transition cost based on travel time https://github.com/valhall

[2017-03-28 12:48] kevinkreiser commented on #620
thanks @ptpt any help here would be greatly appreciated! i was wondering if you thought it would be a good idea. specifically i was also wondering that if all of the potential routes between `left` and `right` states seem to have very low probability due to the time difference being so high, will the algorithm assume that none of them are valid or will it still pick the highest probability one?

t

[2017-03-28 16:40] #599 closed

[2017-03-29 15:55] missinglink commented on #442
another example for `increase the 'greediness'`, this road is currently being exported as several segments with the same name:

[code]

[2017-03-29 21:11] ptpt commented on #620
Yes it is. I believe that using time difference would improve the matching accuracy.

No, the algorithm won't pick the highest one if two measurements are too far apart (further than `breakage_distance `), or time difference in terms of travel time is too high. Instead it will assume that the two are disconnected. However it doesn't mean two measurements can't find good matches. It's still possibl

[2017-03-29 21:13] ptpt commented on #620
Assigned to me. Will give it a try this weekend.

[2017-03-30 12:50] dnesbitt61 commented on #269
With updates to how hierarchy builder works and now that edges and nodes only occur on the level they belong, this has become much more complex. Closing this issue in favor of another approach.

[2017-03-30 12:50] #269 closed

[2017-03-30 12:53] dnesbitt61 opened #632 "Density Computation Performance Improvement"
Density computations take over half the total time in GraphEnhancer. The method ends up searching nodes in tiles over and over. One possibility is to compute road density in a separate stage and store in a spatially organized data structure. When assigning node density we could then sample the nearby cell densities to the node. This is likely to be faster than the current approach but may be trick

[2017-03-30 12:59] kevinkreiser commented on #400
we are working to retire the transit_fetcher (has a different name these days). we are planing to make available transit tile extracts that can be used when running `valhalla_build_tiles`. this will then bake the transit extract into the final build of valhalla tiles. alternatively we will be looking at ways to make extracts of completed valhalla tiles available as well. stay tuned :smile:

[2017-03-30 12:59] #400 closed

[2017-03-30 13:01] gknisely commented on #309
Related to the "bus-bench" / mis-tagged area or closed feature issues.   Bus benches has been fixed.  Otherwise, we don't want to remove these.

[2017-03-30 13:01] #309 closed

[2017-03-30 13:03] kevinkreiser commented on #632
disclaimer i have no idea how the algorithm currently works...

is there anyway to do this in a flood fill or marching front kind of way? that way the only state we need to retain is that of which nodes were visited and not (quite small amount of memory). conceptually it seems like the hard part would be figuring out when to transition from low to high density and vice versa... anyway without know

[2017-03-30 13:19] kevinkreiser commented on #620
@ptpt thats awesome i'm glad it will benefit us both! sorry it took me so long to get up to speed on map matching otherwise we could have gotten to this sooner!

one thing i should mention is that when there isnt a time on a given measurement it will have `-1` as the value. so if either `left measurement epoch_time` or `right measurement epoch_time` is `-1` then we'll want to avoid checking that t

[2017-03-30 13:41] ptpt commented on #620
Great! If time is not available, then we can fallback to the route distance based weighting.

[2017-03-30 14:18] missinglink opened #634 "docker: trap SIGTERM in valhalla_route_service"
heya, I've been running valhalla using Docker and docker-compose.

when running the `docker-compose down` command a `SIGTERM` signal is sent to the process and then it waits an interval (default 10s) before sending it a `SIGKILL`.

because of how docker runs the process as PID 1 it behaves a little differently regarding trapping signals, it might require that the signal is explicitly trapped with

[2017-03-30 14:21] missinglink commented on #634
ref: https://www.ctl.io/developers/blog/post/gracefully-stopping-docker-containers/

explains it better than me :)

[code]

[2017-03-30 15:27] kevinkreiser commented on #634
@missinglink yeah we've done this for test programs (so that the get killed by SIGALRM) but sadly havent yet made it a habit for the main programs. as a first step we can add this to the main all in one service and essentially copy paste this bit of code wherever its needed. all we need is to do something like:

[code]

[2017-03-30 16:48] kevinkreiser commented on #634
something strange seems to be going on in docker land... so without any change to the code i just wanted to see that indeed our process sticks around if you send `SIGTERM` to it...

[code]

the above would suggest that the program quits when it gets `SIGTERM` so i'm at a loss here to whats going on in docker :frowning_face: any ideas?

[2017-03-30 19:25] kevinkreiser opened #635 "traffic_segment_matcher handle bad input"
currently we do several things to deal with bad input:

* reject out of order data
* skip redundant data
* allow for breaks in matching

but there are also 2 more things we can do to take this to the next level. based on the timing and location information for a given set of input we can indeed immediately identify impossible situations. we'd like to break up the matching if either of the followin

[2017-03-30 20:21] missinglink commented on #634
hmm... I'm not sure what's going on then..

I can confirm that the docker container appears to be handing around until the timeout is reached (10s) when a `docker-compose down` is executed.

few ideas:

- is it possible that the server can take some time to naturally 'wind-down' after getting the `SIGTERM`, or should that be instant?
- do you get the same behavior when running `./valhalla_route_se

[2017-03-30 20:24] missinglink commented on #634
this is the relevant section of the Docker container:

[code]

what does the `1` do there? I copied that off a readme

[2017-03-31 12:26] kevinkreiser commented on #634
@missinglink it shouldnt take time to wind down, when i ctrl-c it it goes down instantly. i think your third bullet is the most likely culprit here, of course its also the hardest to test. maybe worth writing a small dockerized program just to see what signals are sent when. actually, we could do that with just some bash...

[2017-03-31 16:22] missinglink commented on #634
so.. I have officially dived down the rabbit-hole which is docker and came up with only more questions... :)

I set up a container running the server with the `CMD` as such:

[code]

I then created an interactive bash shell inside the running container and ran `ps`:

[code]

it seems that when the `CMD` is in 'shell form', it is executed with `/bin/sh -c`.

sending `kill -15 1` had no effect but s

[2017-03-31 16:24] missinglink commented on #634
docker files: https://github.com/missinglink/valhalla-issue-634

[2017-03-31 16:40] missinglink commented on #634
right! so I read this https://www.fpcomplete.com/blog/2016/10/docker-demons-pid1-orphans-zombies-signals.

the tl;dr is that an explicit signal handler must be defined in any process which could be run as PID1

[2017-03-31 16:59] missinglink commented on #634
interesting read: https://github.com/phusion/baseimage-docker/blob/next/README.md

[2017-04-04 12:53] dgearhart opened #638 "Edge-walk stops early when starting and ending on the same cul-de-sac"
Use Maryland afternoon or lunch bike test routes

Thank you @meghanhade  for reporting this issue

[2017-04-05 15:30] kei42 opened #640 "No path could be found from A to B but is found from B to A"
Hello,

Here is an example:
- [not found](http://valhalla.github.io/demos/routing/#loc=18,43.627021,7.035550&locations=[{"lat":43.625,"lon":7.06},{"lat":43.627,"lon":7.033}]&costing="auto")
- [found](http://valhalla.github.io/demos/routing/#loc=15,43.626508,7.046635&locations=[{"lat":43.627,"lon":7.033},{"lat":43.625,"lon":7.06}]&costing="auto")

It also occurs with this point: {"lat":43.695128937

[2017-04-05 15:39] kevinkreiser commented on #640
Its because that area is gated off but drivable. Basically the algorithm finds that gated area and uses it as the destination. When we try to find the destination we cant because the gates block access. Other software will travel up to the gates and stop. We are working at solving this problem currently tracked here: #58

[2017-04-05 15:39] #640 closed

[2017-04-05 17:11] kei42 commented on #640
Thanks for your quick reply

[2017-04-10 13:01] #638 closed

[2017-04-10 18:26] dgearhart opened #646 "Incorrect begin heading"
example route
-j '{"locations":[{"lat":34.094646,"lon":-117.695015,"street":"Busway"},{"lat":34.095200,"lon":-117.694580,"street":"Richton Street"}],"costing":"pedestrian","directions_options":{"units":"miles"}}'

Currently says: `Walk south on Busway`
Should be: `Walk north on Busway`

Example added here:
https://github.com/valhalla/valhalla/blob/master/test_requests/demo_routes.txt#L21

[2017-04-10 19:59] dgearhart opened #647 "Should turn left at intersection instead of bear right and then sharp left"
http://www.openstreetmap.org/directions?engine=mapzen_car&route=40.31250%2C-75.10961%3B40.31277%2C-75.10757#map=19/40.31231/-75.10859

![screenshot from 2017-04-11 08-30-26](https://cloud.githubusercontent.com/assets/7515853/24909257/2b75bcb4-1e91-11e7-8885-3682f383671e.png)

[2017-04-12 12:28] kevinkreiser opened #651 "tile paths should be robust to other numbers in them"
back when we added tar extracts we simplified the way we read a file name into a tile_id. we took some shortcuts that ended up meaning that having a directory structure that has numbers in it other than those belonging to the tile_id would result in the wrong tile_id values coming out. we'll fix it by just only considering numbers, slashes and the extension of the file from the right.

[2017-04-12 13:37] kevinkreiser commented on #58
Since our solution above allows for loki to return more than one candidate we'll add allowing the user to specify an integer radius about the point for which we should return all potential correlated locations within said radius. This seemed like and obvious point to allow for that given that the solution here requires the ability to return more than one result per location.

[2017-04-13 18:58] #651 closed

[2017-04-17 20:24] TimRepke opened #659 "Compiling Valhalla on up-to-date system"
Hi,
I tried to compile on my computer running Arch Linux, which appears to be a big problem. `czmq` and `prime_server` aren't in the official repositories, nor AUR, so I compiled them from source (4.0.2 and 0.6.3 respectively). They are installed inside my project library root so I don't clog up my system.

Then I ran
[code]
of which I pasted the relevant output in a gist (so this issue isn't huge

[2017-04-18 11:59] kevinkreiser commented on #659
no worries i'll take a look at it quick this morning!

[2017-04-18 13:09] kevinkreiser commented on #659
i've left comments on your gist let me know if that works for you

[2017-04-18 18:26] TimRepke commented on #659
@kevinkreiser
Thanks for your help! I installed gcc5 (5.4.0) to check if that works. It does! But not without some changes! Apparently some libs aren't linked by default, so I ran this small script, which includes `cmath` and `cstdint` where needed:
[code]
By default gcc5 uses c++98, so the updated, quite lengthy configure command:
[code]
I left a comment over at the gist as well. There are some o

[2017-04-18 18:38] kevinkreiser commented on #659
@TimRepke wrt missing headers: it seems to me that its quite possible that we take advantage of headers that got included through other headers in some places (its a lot of code). surely in the stl that shipped with gcc6 those headers just happened to be removed for wherever we were taking advantage of them. if you could it would be helpful to get the list of the files that reference these but don

[2017-04-18 18:43] #659 closed

[2017-04-19 13:36] #646 closed

[2017-04-19 13:57] kevinkreiser commented on #442
as a first pass to fixing some of this we are going to add the way ids to the output of the export. this will need to be another variable width column so we'll need to update the spec to have the number of things per column. we'll use 1 byte to do this so that a given column cant have more than 256 entries (names, way ids). this should be all of 5 minutes of work :smile:

[2017-04-19 17:40] missinglink commented on #442
let's hold off until we've had a quick call to discuss, I don't want to waste your time.

the ideal would be to get all the names, but it sounds like that not possible without changing your whole data model.

the idea of exporting the ids is a good alternative option but would require some code be written to grab the names from OSM and associate them.

right now it's too far out-of-scope with our

[2017-04-19 17:48] kevinkreiser commented on #442
yep i wasnt going to do anything until i go the word that you actually want it.

we do also want to have these extra names but we wont be adding those to our data in the near term.

IMHO using the ids muddies the waters a bit because we are still merging using the names. its completely possible that we would give ids for ways that dont have the same full list of names but do share the default name

[2017-04-20 13:42] dgearhart opened #664 "`begin_shape_index` is always set to zero"
![screenshot from 2017-04-20 09-40-28](https://cloud.githubusercontent.com/assets/7515853/25233643/8c88cb18-25ad-11e7-92bd-b4470c7ad5d0.png)

[2017-04-20 14:24] #664 closed

[2017-04-20 16:12] dnesbitt61 opened #666 "Inconcistent turn_channel assignment"
Seems like both of these should be turn channels, but one is classified as a ramp.

http://www.openstreetmap.org/way/470215129 --> ramp
http://www.openstreetmap.org/way/470215128 --> turn channel

[2017-04-24 12:43] BFutterer opened #669 "Isochrone polygons are shown in levels of gray instead of colors"
I just changed "polygons: false" to "polygons: true" in the demo index.html for isochrones, to get polygons instead of isochrones like it is described in the Isochrone service API reference. But the polygons are shown in levels of gray, although the isolines are colored. This happens if I use the default colors as well as when I define my own colors. Is there a way to get them also with colors?

[2017-04-24 13:19] kevinkreiser commented on #669
it seems the styling for leaflet geojson polygons uses `fillColor` instead of `fill`. you can work around this in the javascript by doing something like this: https://github.com/valhalla/demos/commit/54a7cc2321d915a4ed46544bba3af83e378ebf58#diff-35f4f770bba3bfede04b5ea7912ef8f6L68

id like to fix this on our side but it could be that someone is relying on it now as `fill`. if the docs dont say we

[2017-04-24 13:25] kevinkreiser commented on #669
ok so the docs dont say what properties we include. i think the issue is that we are trying to please two masters here. geojson.io vs leaflet:

leaflet uses: `fillColor` and `fillOpacity`
geojson.io uses: `fill` and `fill-opacity` (i think this because this is what we currently return)

i think the fix is simple we just include both. ill make the change quickly

[2017-04-24 15:05] slvlirnoff opened #671 "valhalla_build_admins segfault"
Hi,

Using latest valhalla-bin from ppa on a fresh ubuntu Xenial and running build_admins on either Switzerland latest pbf or planet latest pbf yield a segmentation fault when populating database.

Looking at the code seems related to uniq_ptr for geos (version 3.5) not initialized. Will test more later but any pointer would be appreciated.

Best,
Cyprien

[2017-04-24 15:14] kevinkreiser commented on #671
thanks, we'll take a look!

[2017-04-24 15:53] slvlirnoff commented on #671
Thanks, in fact I used 3g network in the train to dive a bit more into it.
See attached pull request, it seems to fix the issue.

[2017-04-24 16:02] #671 closed

[2017-04-24 21:06] dgearhart opened #673 "Match result has state but does not have valid edge id"
test URL:
[code]

results showing issue:
[code]
68 is correct
69 and 70 have state but no valid edge id

[2017-04-25 13:50] dnesbitt61 commented on #445
Closing issue - cannot isolate. If problems continue let us know and we can try to isolate.

[2017-04-25 13:50] #445 closed

[2017-04-25 13:56] dnesbitt61 commented on #208
Fixed by #530

[2017-04-25 13:56] #208 closed

[2017-04-25 13:58] #314 closed

[2017-04-25 14:43] dnesbitt61 commented on #444
I have no idea what this issue means. Closing this issue - if we get further information/requests can re-open.

[2017-04-25 14:43] #444 closed

[2017-04-25 15:21] #647 closed

[2017-04-26 19:44] chrisfosterelli opened #679 "Feature suggestion: map_match_service should optionally return associated EdgeInfo"
The map_match_service is great, but need it to return some attributes from each matched point's `EdgeInfo`. I've already made some basic code changes to do this, but if this is a useful feature I would be happy to make a pull request (then I don't have to maintain a fork).

So this issue is:
1. Would this be a desirable feature?
2. If so, what should the returned JSON look like and how should this

[2017-04-26 19:49] dnesbitt61 commented on #679
We have a method called trace_attributes that does this. It is not yet an announced, hosted service but it should be soon. You can see the draft API here: https://github.com/valhalla/valhalla-docs/blob/master/map-matching/api-reference.md. Let us know if this fits your needs

[2017-04-26 19:57] chrisfosterelli commented on #679
@dnesbitt61 Thanks for the quick response David! That sounds very similar to what I am looking for, I didn't think at all to look at the other services. I will test it out and report back.

[2017-04-27 18:38] dgearhart opened #680 "enable matched trace to u-turn in middle of edge instead of at the end node"
Origin and destination are co-located.
Also note that the extra matched trace shape at origin/destination

trace and matched points:
![hershey_trail_uturn](https://cloud.githubusercontent.com/assets/7515853/25498661/e07e2e3a-2b56-11e7-8c94-70d18b1a718b.png)

shape of matched trace:
![hershey_trail_uturn_shape](https://cloud.githubusercontent.com/assets/7515853/25498741/2aff9e44-2b57-11e7-98d2-bba0

[2017-04-27 20:19] dgearhart opened #681 "bad interpolated match points"
The interpolated match point location for index 5 and 18 in the test URL are a significant distance from the corresponding trace point

![bad_interpolated_match_points](https://cloud.githubusercontent.com/assets/7515853/25502590/395200dc-2b65-11e7-8a43-ec028f8793a8.png)

Test URL:
http://localhost:8002/trace_attributes?json={"shape":[{"lat":37.7872760,"lon":-122.4002950},{"lat":37.7872920,"lon":-1

[2017-05-01 18:58] dgearhart opened #684 "do not return distance_along_edge when trace point is unmatched"

[2017-05-02 06:20] ptpt commented on #609
@kevinkreiser here is the Mapillary API docs for sequences http://www.mapillary.com/developer/api-documentation/#sequences Given a bounding box, it gives sequences as GeoJSON.

[2017-05-02 12:01] #75 closed

[2017-05-02 12:15] #669 closed

[2017-05-02 15:43] gknisely opened #687 "chunnel train"
Favor chunnel train over ferries.  Check costing.

[2017-05-02 15:46] gknisely opened #688 "transit acceptance tests"
If we can, remove the need or use of onestopids within the tests.   Lat/Lng tests would be less brittle than onestopids.  Onestopids don't change a lot but they do change which requires us to update the acceptance tests.

[2017-05-02 22:16] chrisfosterelli commented on #679
After some experimenting it looks like this will work for us. Thanks @dnesbitt61!

[2017-05-02 22:16] #679 closed

[2017-05-03 00:02] araichev opened #691 "How to load custom GTFS on local Valhalla build?"
Hi folks,

I recently installed Valhalla on my Linux machine.
Do you know how i can install a custom GTFS feed to do some transit routing?

[2017-05-03 03:11] araichev opened #692 "Turn-by-turn success and time-distance matrix failure"
Hi all,

I'm running a local installation of Valhalla.

When i call the routing API with `http://localhost:8002/route?json={"locations": [{"lon": 174.611507840056, "lat": -36.15063488488492}, {"lon": 174.777249, "lat": -41.289736}], "costing": "auto"}`, i get a reasonable route that's 750 km long.

But when i call the time-distance API with the same origin and destination via `http://localhost:800

[2017-05-03 07:16] ptpt opened #693 "Build Valhalla without data tools will fail"
[code]
will give tons of errors as follows
[code]

It seems that some tests still use `mjolnir` to build tiles.

[2017-05-03 12:40] dnesbitt61 commented on #691
Valhalla only accepts transit information through Transitland.

[2017-05-03 13:02] dnesbitt61 commented on #692
There is another threshold in code that needs to be adjusted. In valhalla/thor/costmatrix.h there is a constexpr:

constexpr float kCostThresholdDefault = 14400.0f;   // 4 hours

if you increase this to 57600 your test works. I am adding an issue to set this threshold based on the spacing of incoming locations and transport mode, but for now you can just edit this value.

[2017-05-03 13:02] #692 closed

[2017-05-03 13:05] dnesbitt61 opened #694 "CostMatrix cost threshold needs to adapt to support higher distance limits"
The matrix service has limits for distance between locations, but it also has a hard-coded time threshold for CostMatrix. This threshold is in seconds. The threshold setting needs to adapt to the spacing of locations and the transport mode so that larger distance limits can be supported yet the cost threshold isn't so high that memory use expands more than needed.

[2017-05-03 13:56] kevinkreiser commented on #693
thats true definitely loki does. this is a tough issue because the only options are, always force people to make data tools or remove what appear to be non data tests when they disable data tools... i think ill do the latter

[2017-05-03 14:37] #693 closed

[2017-05-03 15:50] dnesbitt61 commented on #259
A couple things make this tricky:

    Both the ramp path and the straight through path have a consistent reference name. Generally links do not have names - so I thought one change is to set name consistency to false when going from a link to a non-link edge. This makes the strategy of having a maneuver penalty when merging from a ramp (or turn channel) onto a highway (but not when exiting a high

[2017-05-03 21:58] araichev commented on #692
Thanks for the tip, dnesbitt61!
Do i need to build Valhalla from source to edit `valhalla/thor/costmatrix.h` or is there a way via my PPA installation (ppa:valhalla-routing/valhalla)?

[2017-05-03 22:04] araichev commented on #691
Ah, so do i give Transitland my custom GTFS feed, which might be for a fictional network, and then somehow import it into my local Valhalla installation?

It would be a nice feature for Valhalla to build its graph from any OSM tiles *and* any GTFS feeds, which is something that Open Trip Planner allows.

[2017-05-03 23:16] araichev commented on #692
OK, i did the following.

1. Uninstalled Valhalla
2. Cloned the Valhalla Github repository
3. Updated `valhalla/thor/costmatrix.h` to `constexpr float kCostThresholdDefault = 57600.0f; // 16 hours`
4. Built Valhalla from source
5. Build the routing tiles for New Zealand
6. Edited `valhalla.json` to increase the sources-to-targets max distance as above
7. Ran the routing server
8. Ran the queries a

[2017-05-04 12:17] dnesbitt61 commented on #691
That likely wouldn't work - it has to go through validation and then be moved to the production system. Not sure if you can run your own instance of Transitland and import it then you would have to run the valhalla_build_transit program prior to creating Valhalla tiles.

We hope to publish a protocol buffer format for a tile set that Transitland will output and Valhalla will import. One could writ

[2017-05-04 12:35] dnesbitt61 commented on #692
This worked for me with the updated kCostThresholdDefault and the config change.

[2017-05-04 21:14] slvlirnoff opened #698 "runtime error: (GraphTile DirectedEdge index out of bounds) when building tiles with transit"
I'm trying to build a graph with extra transit information. and at the validation & binning step I get the following crash:

[code]

I might have got an error when adding the transit tiles that is related:

[code]
It seems to be a stop that is on the same line as the route that goes through the crashing tile.

Here's others errors I got when using transit information during build process (minus ma

[2017-05-04 22:06] araichev commented on #691
Thanks for the information.
Yes, please post an issue if you can.
If it is a matter of writing a program to convert GTFS to protocol buffer, then i might be able to help.

The way i see it, to have a multimodal routing engine of one's own, one needs to be able to load whatever OSM tiles and whatever GTFS feeds one likes.

[2017-05-04 23:48] araichev commented on #692
After more testing, it appears that my change to `valhalla/thor/costmatrix.h` is not taking effect; i'm still stuck with a 14400 second time threshold.
To rebuild Valhalla from source and run it after i change the threshold, do i need to follow any extra steps besides the ones i followed below (taken from the Github page)?

[code]

[2017-05-05 00:08] dnesbitt61 commented on #692
maybe need to make clean before make test?

[2017-05-05 01:53] araichev commented on #692
OK, i rebuilt everything, this time inserting ``make clean`` before ``make test``.
Didn't work, and i'm still apparently stuck at a 14400 second time threshold.
Hmm, i'm out of ideas at present.

[2017-05-05 12:15] kevinkreiser commented on #692
are you sure you are running the copy of valhalla that you built from source and not the one you installed from ppa?  make sure you dont have any valhalla installed from ppa:

    sudo apt-get purge libvalhalla* valhalla*

[2017-05-05 12:51] gknisely commented on #698
Hi Cyprien,
What feed did you obtain with valhalla_build_transit?
--Greg

[2017-05-05 13:59] dnesbitt61 opened #699 "Allow GTFS Import into Valhalla"
Several changes are needed to allow import of GTFS into Valhalla. Here is a proposed design:

- Publish the transit tile protocol buffer format (pbf).
- Program an application to convert GTFS into pbf tiles.
- Split the _valhalla_build_transit_ application into 2 parts: 1st part queries Transitland and generates transit pbf tiles. 2nd part creates Valhalla transit graph tiles from the transit pbf

[2017-05-05 14:00] dnesbitt61 commented on #691
Closing - included in issue #699

[2017-05-05 14:00] #691 closed

[2017-05-05 19:07] #666 closed

[2017-05-08 00:54] araichev commented on #692
Aha, that did it.
Thanks!
I used ``sudo apt-get remove valhalla-bin``, but apparently that was not enough.

[2017-05-08 12:08] rinigus opened #702 "Delivery of tiles on mobile"
I am trying to make myself familiar with valhalla, hence probably naive questions.

I would like to deliver the routing data to mobile devices in packages covering countries or parts of them. When delivered, the tiles from the neighboring countries should allow routing from one country to another. Is this possible?

As far as I can see, `valhalla_build_tiles` creates a folder that reminds of slipp

[2017-05-08 12:21] dnesbitt61 commented on #702
You could use one of the continental sized extracts from Geofabik and then deliver tiles for the countries (plus borders you need). But all tiles have to be generated in the same run of valhalla_build_tiles (e.g. you can't generate tiles for France and then generate tiles for Spain and have them work together). You can add several country sized extracts within a single valhalla_build_tiles call, b

[2017-05-08 12:24] rinigus commented on #702
Thank you very much for the fast reply! Do you have some tools allowing me to get the names of the tiles that I need if I give a polygon defining the territory of interest?

[2017-05-08 12:25] kevinkreiser commented on #702
yep this is possible. there are definitely limitations with respect to granularity though. our tiling model is not mercator based. its simple lat,lon based (epsg4326). we have 4 sets of tiles.

level 0 is 4x4 degree tiles and contains the highest classed roads
level 1 is 1x1 degree tiles and contains the middle classed roads
level 2 is .25x.25 degree tiles and contains the lower classed roads and

[2017-05-08 12:40] dnesbitt61 commented on #702
We have C++ code to get a list of tiles given a bounding box. The AABB2 class in midgard is used to define a bounding box (use PointLL template). Then the midgard Tiles class can be used to get a list of tiles. This class is contained within the baldr TileHierarchy class (contains the tilesizes and a worldwide bounding box which defines the tile numbering system). You would have to call this metho

[2017-05-08 12:52] rinigus commented on #702
@dnesbitt61 and @kevinkreiser: thank you very much for the detailed explanation! This info should be sufficient for now and I think I can follow your pointers to get what's needed for splitting the tiles into smaller chunks of data. If something is missing, I will ask again. Should we close the issue?

[2017-05-08 12:54] dnesbitt61 commented on #702
If you end up with something of general use that you'd like to contribute back, please do! For now, I'm closing this issue. Feel free to open another one if questions arise.

[2017-05-08 12:54] #702 closed

[2017-05-08 14:05] dgearhart opened #703 "Do not call out fork at bidirectional ramp"
Update ramp logic so we do not call out a maneuver when transitioning from a one way ramp to a bidirectional ramp and the reverse case too
Test case 1:
https://github.com/valhalla/valhalla/blob/master/test_requests/pa_interchange_routes.txt#L55
Remove maneuver 3
![screenshot from 2017-05-08 09-54-56](https://cloud.githubusercontent.com/assets/7515853/25807678/a904ecc8-33d5-11e7-935f-257f9549af9f.p

[2017-05-08 15:37] dgearhart opened #704 "Process all sign info on bidirectional ramps"
Process the following:
[code]

[2017-05-09 09:39] rinigus opened #706 "Valhalla as a library, not service"
As a part of learning Valhalla, I am looking into its dependencies and the ways I can use it to provide offline routing on mobile. For me, it would be easier to use Valhalla as a library and not as a service. This is due to the fact that I am already providing a service that allows to render/search/route offline. Having an additional service would step out of the current design and may require cha

[2017-05-09 12:03] kevinkreiser commented on #706
you are correct that zmq/prime_server is not required for this scenario however we havent yet taken the pains needed to separate these bits of code out from the regular libvalhalla.so target within our makefile.

one can semi-easily achieve this by making the service parts of the build conditional (like the data-tools) and also moving the service dependencies (`$(DEPS)`) in `configure.ac` into the

[2017-05-09 13:43] rinigus commented on #706
It makes sense. I will evaluate then valhalla on mobile properly and, if all is fine, look into changing the build files. Give me 1-2 weeks, since I have to finish few other things first, and, if no-one will beat me to that, I'll look on fixing the build.

[2017-05-09 22:29] slvlirnoff commented on #698
(with others) the official gtfs feed for Switzerland, it's unfortunately quite big and not yet imported into transit.land.

I'll try to create a smaller test case, any tips on how to convert a tile id to a bounding box? I could do smaller osm/transit extract base on that I guess.

[2017-05-10 01:01] gknisely commented on #698
Actually, I wanted to try to reproduce your issue.  So if you can send me the the feed onstopid that is having the issue, I can try it here.

Code to get bbox given tile Id 786664 (assumes level 2 - additional steps to do different hierarchies)

const auto& tl = reader.GetTileHierarchy().levels().rbegin();
Tiles<PointLL> tiles = tl->second.tiles;
AABB2<PointLL> bb = tiles.TileBounds(786664);
LOG_I

[2017-05-10 07:49] rinigus commented on #706
As a follow up: does `valhalla_build_tiles` need ZMQ/prime_server? Or it can be built without services?

[2017-05-10 09:17] oliverbienert opened #708 "Installing on debian jessie"
Hello,
in your readme you write:

But there is no package for jessie:
`Failed to fetch http://ppa.launchpad.net/valhalla-core/valhalla/ubuntu/dists/jessie/main/binary-amd64/Packages  404  Not Found`

Also, when I try to install dependencies, the the following errors occur:
[code]
Instructions obviously only work for Ubuntu? How do I install this on a debian jessie system?

Regards Oliver

[2017-05-10 12:00] kevinkreiser commented on #706
`valhalla_build_tiles` does not depend on the service dependencies no, it doesn't depend on zmq/prime_server

[2017-05-10 12:12] kevinkreiser commented on #708
thats right, although debian and ubuntu are very closely related we dont specifically build packages for the various debian releases. i have not tried it, but does this process work for you: https://wiki.debian.org/CreatePackageFromPPA

i think we would happily publish debian packages but we aren't sure of the process of becoming a debian developer. any help on this would be appreciated

[2017-05-10 13:55] #684 closed

[2017-05-11 06:53] slvlirnoff commented on #698
Here's the smallest extract that I was manage to create that have this crash:
The zip contains a config, a transit directory with two tiles and a small osm extract that cover the area.

[extract.zip](https://github.com/valhalla/valhalla/files/992057/extract.zip)

I can't give you a onestopid because i'm not sure which stop is problematic and the feed I've used isn't currently imported on https://t

[2017-05-11 18:27] gknisely commented on #698
@slvlirnoff please get the latest code and you should be all set.

[2017-05-11 19:16] #72 closed

[2017-05-11 20:36] slvlirnoff commented on #698
Thanks a lot! I will compile binaries on the server and re-test a full graph build.

I can probably report tomorrow on the success.

[2017-05-12 20:50] rinigus commented on #706
OK, the first tests on mobile passed - its impressive! In addition to modification of Makefile.am and configure.ac, I had to make small changes in

[code]
One of them was ambiguity (in the eyes of compiler) of radius_ (I presume it should be `uint64_t`, in `src/baldr/location.cc`) and inclusion of non-needed `service.hpp` (`src/thor/route_matcher.cc`).

Before submitting PR, I probably would go th

[2017-05-15 06:24] slvlirnoff commented on #698
Seems to works all fine now! Thanks a lot @gknisely, I'll close it.

[2017-05-15 06:24] #698 closed

[2017-05-15 08:05] rinigus opened #715 "Requested Boost version"
The minimal required version of Boost libraries by Valhalla is 1.54. This presents a problem for porting it to Sailfish OS which has 1.51 version of Boost supported. As far as I could see, Boost version was set in commit https://github.com/valhalla/valhalla/commit/efac9535ac52c37d64a2b254c902cedc992c7ada .

Now, I wonder whether it would be acceptable to reduce Valhalla's requirements regarding Bo

[2017-05-15 12:23] kevinkreiser commented on #715
we'd consider it, the only reason we targeted 1.54 is because its what comes with ubuntu 14.04. the trick with boost is that the api is not gauranteed to stay the same from version to version. this might mean that if something changed from 1.51 to 1.54 you'll need to do `ifdef`s on the versions for certain pieces of code. i thought we used a pretty small set of functionality from boost but a quick

[2017-05-15 12:27] rinigus commented on #715
OK, then I'll work on getting full valhalla's port to SFOS first. This should allow me to check whether there are more compiling issues and if the functionality is somehow disturbed (as much as I can personally check). If all is fine, I'll submit PR to close this issue. Should probably take 1-3 days.

[2017-05-15 12:35] kevinkreiser commented on #715
if all the tests pass that is a good enough indicator. my only real worry would be regex support. we were using boost regex only because gcc 4.8 didnt have a full implementation. now that we are on gcc 4.9 we dont need boost but others with older compilers will need it. the question is whether boost 1.51 has a fully implemented regex namespace or not. i guess you'll find out if the tests pass or f

[2017-05-15 13:26] rinigus commented on #715
Looking at the boost changelog, I can see that the only changes in regex between 1.51 and 1.54 were fixing the bugs in 1.53: https://svn.boost.org/trac/boost/ticket/7744 https://svn.boost.org/trac/boost/ticket/7644 . But I'll do the tests to see if anything would come out

[2017-05-15 13:32] kevinkreiser commented on #715
:crossed_fingers:

[2017-05-15 15:11] albertotn opened #716 "Routing problem"
Hi!  In my company we are using valhalla for routing and we are facing a strange behaviour.

Our pipeline consist in: extracting osm data using metroextract, using valhalla as a service to generate routing between points.

The problem is generated using these points: https://www.openstreetmap.org/directions?engine=osrm_car&route=44.1702%2C12.2999%3B44.1935%2C12.2807#map=15/44.1819/12.2889

And the

[2017-05-15 16:02] kevinkreiser commented on #716
the link you sent, if you switch it to mapzen (which is valhalla) works perfectly. to me it looks like (given the second picture you posted) you dont have data loaded for that region of the map.

it will snap your input to the closest part of the map you have data for and run that route.

also, i noticed your costing is `bus`. i tried the above request with `bus` but it didnt make a difference. in

[2017-05-16 08:25] albertotn commented on #716
Thanks for quick answer.

I've tried, following your suggestion, to generate the route using mapzen today and the result is the following:

![image 3](https://cloud.githubusercontent.com/assets/12526457/26096522/c035d36a-3a21-11e7-994b-09432517940f.png)

for the region we selected a big region ( just be clear, the route is near Cesena, as you can see from the selection is bigger than that):

![ima

[2017-05-16 12:18] #603 closed

[2017-05-16 12:20] #635 closed

[2017-05-16 14:48] kevinkreiser commented on #716
this is very interesting and could be a regression from #711 ill have a look

[2017-05-16 14:50] rinigus commented on #715
I have been testing the route_service today on the system with 1.51 boost. I have not observed any problems. Will send a PR for review.

[2017-05-16 15:35] rinigus commented on #706
while this issue can be considered as a general one, maybe we should close it now since the specific problem got resolved

[2017-05-16 16:41] kevinkreiser commented on #706
sounds good

[2017-05-16 16:41] #706 closed

[2017-05-16 19:27] tarakc02 opened #721 "Weird rectangular pedestrian isochrones"
When using the isochrone service for pedestrian isochrones in specific locations, I end up with rectangular regions that don't seem correct. For instance, when looking for the region within 15 minutes walk of Gamla Stan station in Stockholm using the following JSON:

`{"locations":[{"lon":18.0672,"lat":59.3234}],"costing":"pedestrian","contours":[{"time":15,"color":"feedde"}]}`

I get a (to me) un

[2017-05-16 19:35] dnesbitt61 commented on #721
We just fixed a bug in isochrone code that should address this. It is disallowing pedestrian only roads/paths. We will try to get a bug fix into production soon.

[2017-05-17 13:53] #716 closed

[2017-05-17 16:09] dgearhart opened #724 "Ignore transition edges in MapMatcher::FormPath"
from @dnesbitt61
possible better change is within thor map_matcher.cc FormPath to exclude transition edges...

// TODO - do we want to do this?
   if (directededge->IsTransition()) {
     LOG_INFO("Transition edge within edge segments!"
     continue;
   }

https://github.com/valhalla/valhalla/blob/master/src/thor/map_matcher.cc#L15-L92

[2017-05-17 20:07] gknisely commented on #721
@tarakc02  production has been updated.  Can you let us know if the issue has been resolved?

[2017-05-17 21:42] tarakc02 commented on #721
@gknisely - Yup, I'm not seeing the issue anymore. Thanks!

[2017-05-17 22:04] kuanb opened #725 "Add edges, as well as avoid?"
Notes before I continue: Apologies in advance for any ignorance in the codebase in this issue, I just started digging into it a little. Also, I didn’t notice a Gitter or the like so I assume that this question/idea is “ok” for a GH issue - if it is not, apologies for that as well and happy to move the conversation elsewhere.

Observation: I see a late Feb PR [0] that adds an avoid edge parameter i

[2017-05-17 23:18] #721 closed

[2017-05-18 10:30] rinigus opened #726 "Dynamic loading of tiles"
As a part of delivery of the tiles to mobile, I would like to store tiles as they are, in the folder. Advantage when compared to tar file is that the overlapping tiles between different countries would not have to be stored twice. If I would be using tar-file approach, I would have to cat the files together making it rather painful to manage (removal of one country would be more difficult). Since

[2017-05-18 14:41] dnesbitt61 commented on #726
Generally the service would have to be restarted. Once a tile is in cache it will not try to re-read from file. We have a method to clear a cache, but no centralized method to make this happen everywhere.

[2017-05-18 14:47] dnesbitt61 commented on #725
Routing and isochrones use a routing network or graph composed of nodes (intersections) and edge (roads and paths). There is no notion of a "grid" - though there are many standard algorithms for shortest path through a grid, but we do not construct such a grid (with costs and such). If our routing was based on a grid based approach like this then we could do what you say, but this is not supported

[2017-05-18 14:49] rinigus commented on #726
Thank you very much for the fast reply! I was suspecting it and would have to design the application accordingly. Since the reply is clear, should I close the issue?

[2017-05-18 14:51] dnesbitt61 commented on #726
Yes. If you (or we) can think of a design to allow hot-swapping tiles (or want to add this as a feature request) then a new issue can be opened with the design thoughts/requirements. Thanks!

[2017-05-18 14:52] #726 closed

[2017-05-18 17:41] kuanb commented on #725
Thanks for the note, @dnesbitt61 - I clearly misunderstood the section where the region is broken up into `n` meter grids for walk or bike or car. I suppose that raster is generated solely for the purposes of rendering the isochrone.

Below: Follow up ques. I'll close this issue though so as to not clutter your Issues feed + understand / no worries if no time to answer further questions - mostly j

[2017-05-18 17:41] #725 closed

[2017-05-18 17:47] dnesbitt61 commented on #725
Code to generate the "isotile" (grid with times to get to each grid cell) is in thor/isochrone.cc. This basically expands from a location in a "lowest cost" / shortest path way until the time threshold is crossed. Each graph edge that is expanded is used to update the isotile grid cells that the edge intersects (if the time / cost is lower than what is stored in the grid cell).

[2017-05-18 17:52] kuanb commented on #725
Sorry I incorrectly wrote when asking where the code was for the paths used in the isochrone. I mean to ask where are paths/routes determined generally.

That is, where is the graph of edges traversed when attempting to identify possible paths? I'm curious if that is done in a way such that edges could be introduced during that calculation.

[2017-05-18 18:04] dnesbitt61 commented on #725
The routing graph is built from OpenStreetMap data using applications/code within the valhalla/mjolnir directory. Classes to read / access the rouing within path algorithms in thor are contained within the baldr directory. The routing graph is static (takes many hours) and there is no way (currently) to add graph edges (the routing graph is not editable - only the costing of particular edges is).

[2017-05-18 18:19] kuanb commented on #725
Thanks again, I'll take a look.

This whole thought came to mind because I was mocking out adding and removing edges and then converting them to a network with [Pandana](https://github.com/UDST/pandana) and noticed that Mapzen's isochrones were raster. I thought that, perhaps, at the time the isochrones were calculated one could theoretically introduce a secondary, ad hoc network that computed its

[2017-05-18 19:35] dnesbitt61 commented on #726
@kevinkreiser informed me that your architecture might be just downloading "new" tiles from the same base tile set (e.g. have tiles in Germany and want to add tiles to support Poland). As long as the tiles are from the same tile build then you should be able to safely add in new tiles and route into them without reloading your server. Even downloading tiles that already exist (e.g. at the border o

[2017-05-18 19:49] rinigus commented on #726
That's right, its from the same build. In short, I am going to generate the planet import and then split it into a subsets (by countries or, in case of Germany, by regions). User would be able to download the subsets and use them for offline routing on mobile.

In respect to the ability of loading tiles. What would happen if the user deleted part of them, aka removed Poland in our example. I presu

[2017-05-18 19:53] kevinkreiser commented on #726
Youre right. Whatever was in cache would be used and whatever wasnt on disk anymore just wouldnt be routable anymore. The loading part is opportunistic, it will take whats there and happily work around what isnt. In other words, It doesnt remember what used to be there. Clearing cache clears the notion of that tile being on disk and it will check the disk before it tries to load it again.

[2017-05-18 20:08] rinigus commented on #726
OK, thank you very much! That would make my life easier.

[2017-05-19 08:33] molind opened #729 "Won't build on macos 10.12.4 due to sqlite3 linking error."
Valhalla won't build from master thread on macOS 10.12.4 due to sqlite3 linking error. I do have sqlite3 installed from brew but it's keg-only by default.

Sqlite installed in the system is 3.16.0
[code]

[code]

Makefile contains following lines:
[code]

[2017-05-19 09:49] molind commented on #729
fixed by

`brew link sqlite3`

[2017-05-19 12:05] kevinkreiser commented on #729
cool i'll add this to the macos section in the readme, does that sound appropriate?

[2017-05-19 12:10] #729 closed

[2017-05-19 12:13] molind opened #731 "Incorrect endings for street names in narratives in Russian."
Maybe you could suggest me how is should fix cases for nouns. E.g. "улица", but "по улиц**е**", "на улиц**у**". Word ending changes in different cases. There are two ways to fix this issue:

- just replace "улица", "проспект", "переулок" and other common names to appropriate case for specific narrative. It's easiest and few lines of code solution, but it solves only 80%-95% of issues with incorrec

[2017-05-19 12:29] kevinkreiser commented on #731
i like the latter approach. other languages have this issue as well so if we could put in something like the pluralization that could be overridden i think that would be the best.

just to be sure i understand exactly what the issue is (my russian knowledge is almost zero)...

are you saying that the preposition `по` vs `на` changes the ending of the noun `улица`? german has something similar wher

[2017-05-19 13:37] molind commented on #731
Yes. When you see **по** it's prepositional case, **на** - accusative case. Case depends from a verb and it changes ending in noun and related adjectives.

[2017-05-19 13:37] molind commented on #731
I'll check available libraries for structural text analysis.

[2017-05-19 14:29] kevinkreiser commented on #731
i was thinking of something custom, that you could modify the text directly.

so if the line were:

`... preposition some_name some_street_type ...`

maybe the function could find the preposition next to the street name replacement tag and it would get the street its using to do the replace. then you could do the replacement and modify the street name string before doign the replacement according

[2017-05-19 14:32] kevinkreiser commented on #731
@dgearhart can talk more to the exact details of the code

[2017-05-19 14:37] molind commented on #731
Word order in Russian could be different from `... preposition some_name some_street_type ...`. But it makes sense. By using preposition we could detect case. And by case, we could modify ending in street name and street type.

[2017-05-19 14:47] kevinkreiser commented on #731
yep i wasnt implying any assumptions about word order. the part in the overridden method that detects the preposition would be responsible for knowing where to look for the preposition. i was just using english as a means of conveying the point using a language that is mutually intelligible to us :smile:

[2017-05-19 15:11] dgearhart commented on #731
here is where the street names are formed:
https://github.com/valhalla/valhalla/blob/master/src/odin/narrativebuilder.cc#L3739-L3763

depending on scope of detection and replacement would impact where logic makes sense
I am not sure if you need to create Russian version of street name class - but that is possible.
We have US specific items when we form verbal strings. The verbal strings are format

[2017-05-19 15:17] albertotn commented on #716
Thanks, we made a check with last version of Valhalla ( one with #722 fixed ) and now works, on openstreetmap and in our installation:

![image](https://cloud.githubusercontent.com/assets/12526457/26254482/f8da620c-3cb6-11e7-9ec5-c24205682c4b.png)

Thanks!

[2017-05-19 16:21] chrisfosterelli commented on #726
Just to jump into this, I thought a major benefit of the tile dataset is that updating the tile dataset is much less costly since only updated tiles would need to be resync'd ('Updatability' was one of the listed reasons in the _Why Tiles?_ docs iirc). Based on what you're saying, it sounds like the entire tile dataset would need to be resync'd if any one tile changes. That would be prohibitive fo

[2017-05-19 16:40] kevinkreiser commented on #726
@chrisfosterelli yes that was one of the ideas behind `why tiles`. the trick is that we havent spent any time on making it possible. specifically we use an indexing schema such that an update to any one region will cause a cascade of changes to connected regions around it. if we did spend time on it, the result, with respect to this discussion, would be that we'd need to mark those updated tiles a

[2017-05-19 16:51] chrisfosterelli commented on #726
@kevinkreiser Thanks for clarifying Kevin!

[2017-05-19 17:07] rinigus commented on #726
@chrisfosterelli : For me, the fact that we can split the whole dataset and join it on device is a major reason behind choosing Valhalla. In practice, I am targeting renewal of the datasets once a month and, at that rate, there is a decent chance that large fraction of tiles will have one or two records renewed. Having ability to diff would be great, but not crucial at this stage. Taking into acco

[2017-05-19 20:08] chrisfosterelli commented on #726
@rinigus It depends on the use case I suppose... for us devices are often offline (and therefore need the whole tileset) and download is *very* expensive. If you have metrics on how often tiles would actually need to be changed in relation to OSM updates I'd love to take a look!

[2017-05-20 06:47] rinigus commented on #726
@chrisfosterelli : indeed, you have a different use case then. I don't have such metrics, unfortunately.

[2017-05-20 10:21] Nikerabbit commented on #510
Any updates on the testing?

[2017-05-22 12:35] kevinkreiser commented on #510
@Nikerabbit i still have the branch hanging out there with the file you provided i currently dont have any time to spent towards it but as soon as i do i will take a look. thanks for checking in an reminding me!

[2017-05-22 19:30] kevinkreiser opened #737 "tile extracts with duplicate data"
we need a way to handle ambiguities in tile extracts. basically there can be two paths in a single extract that lead to the same tile id. this is a problem. one will clobber the other. we need to at least warn when this is happening. the other option is to put a config parameter as an optional prefix/filter that says to the tar reading logic to skip anything that doesnt hit the filter. i think we

[2017-05-22 19:37] #591 closed

[2017-05-23 15:40] dnesbitt61 commented on #687
This is due to complex restrictions. Returning false from DynamicCost::Restricted allows London to Paris to succeed taking the Eurotunnel Shuttle. Perhaps this relation is causing the issue: http://www.openstreetmap.org/relation/2928437. Since you can use the Eurotunnel Shuttle as a through location I think that implies that the complex restriction includes it.

[2017-05-24 19:47] mxndrwgrdnr opened #740 "docker: locally hosted valhalla server cannot parse encoded urls"
Running valhalla/docker container locally, this url (http://localhost:8002/route?json=%7B%22locations%22%3A+%5B%7B%22lat%22%3A+37.75286%2C+%22type%22%3A+%22break%22%2C+%22lon%22%3A+-122.40486%7D%2C+%7B%22lat%22%3A+37.790168%2C+%22type%22%3A+%22break%22%2C+%22lon%22%3A+-122.402264%7D%5D%2C+%22costing%22%3A+%22auto%22%2C+%22id%22%3A+%22my_work_route%22%7D) does not work, while this url (http://local

[2017-05-25 14:11] dnesbitt61 commented on #740
The first URL is not valid JSON (try jsonlint), so it fails regardless (Docker has no impact).  Where did you get this URL from?

[2017-05-25 14:27] dnesbitt61 commented on #487
Closing this issue. We made changes to HierarchyBuilder to work with lower memory environments. Feel free to open a new issue if needed.

[2017-05-25 14:27] #487 closed

[2017-05-25 14:34] dnesbitt61 commented on #472
Closing - I believe this was addressed with #705

[2017-05-25 14:34] #472 closed

[2017-05-25 14:52] dnesbitt61 commented on #264
Fixed by #711

[2017-05-25 14:52] #264 closed

[2017-05-25 15:01] dnesbitt61 commented on #226
Closing this issue. Don't think it makes much sense. Admin and tilezones are added in the initial tile build. If there is more than 1 admin within a tile then it has to lookup locations within polygons, so for many cases it has to retain the admin or timezone polygons and we don't want to increase memory use by having these persist more than just at the tile level.

[2017-05-25 15:01] #226 closed

[2017-05-25 15:48] kevinkreiser commented on #740
yeah it looks like whatever you have doing the encoding is encoding `:` when it doesnt need to. the properly encoded get line would be:

    http://localhost:8002/route?json=%7B%22locations%22:%5B%7B%22lat%22:37.75286,%22type%22:%22break%22,%22lon%22:-122.40486%7D,%7B%22lat%22:37.790168,%22type%22:%22break%22,%22lon%22:-122.402264%7D%5D,%22costing%22:%22auto%22,%22id%22:%22my_work_route%22%7D

[2017-05-25 15:50] mxndrwgrdnr commented on #740
It seems like jsonlint doesn't validate the first URL b/c its a localhost URL. If you replace `localhost:8002` with `valhalla.mapzen.com` then jsonlint validates it. Similarly, if you actually navigate to the url after replacing localhost with the valhalla host, the URL works. I'm generating the URLs in Python using the Requests library.

[2017-05-25 15:55] dnesbitt61 commented on #740
I just validate the part of the URL after json=.  No clue how this works in production.

[2017-05-25 16:03] mxndrwgrdnr commented on #740
Maybe this is just my lack of familiarity with jsonlint, but the properly encoded json from Kevin's post above doesn't seem to validate in jsonlint either?

[2017-05-25 16:16] kevinkreiser commented on #740
the thing i pasted was urlencoded you first need to url decode it. the way valhalla works is that we use curl to url decode the query params portion (the bit after `route?`) of the url. it turns out the problem here is that you have a `+` after the encoded `:` (`%3A`). so when curl decodes it this is what happens:

[code]

notice it has `+` all over in there. so yeah whatever is putting that `+` c

[2017-05-25 16:42] mxndrwgrdnr commented on #740
OK so this was just a flub on my part. Should have just been using POST requests from the get go. The only weird thing here is that the production API is able to parse the improperly formatted JSON in the first place. Closing this.

[2017-05-25 16:42] #740 closed

[2017-05-25 18:50] gknisely commented on #12
This should be resolved.  If it is not please reopen.
Thanks.
--Greg

[2017-05-25 18:50] #12 closed

[2017-05-28 16:14] rinigus opened #741 "misleading order in PointLL comments"
When reading comments regarding PointLL class, you have an impression that the used order of arguments is lat,lng ( https://github.com/valhalla/valhalla/blob/master/valhalla/midgard/pointll.h#L11 ) . However, it turns out that lng,lat is used (https://github.com/valhalla/valhalla/blob/master/valhalla/midgard/pointll.h#L11) and has to be used to define bounding box, for example

[2017-05-30 13:04] #741 closed

[2017-05-30 13:40] rinigus commented on #741
Thank you!

[2017-05-31 12:51] dnesbitt61 opened #746 "Investigate replacing meili grid traversal with midgard Tiles methods"
Rather than having similar logic in 2 different places perhaps we can use the midgard Tiles class (which includes a Bresenham method to find grids that intersect a line segment) to replace the meili gridding and grid traversal methods.

[2017-05-31 15:51] dnesbitt61 opened #747 "Add support for per mode restrictions"
e.g., restriction:bus tags

Add these as "complex" restrictions which currently support per mode lookup (unlike simple restrictions which are assumed to apply to all driving modes).

[2017-05-31 20:48] mmajan87 commented on #747
Hi @dnesbitt61 and @gknisely ...how easy/complicated is this? It is important for us (esentially for buses), so would be great to know your thoughts on the matter and when do you think you might be able to handle it in valhalla.
Thanks in advance

[2017-05-31 20:56] dnesbitt61 commented on #747
I think this should mostly be updates to data ingestion (valhalla_build_tiles) which makes it somewhat less complicated but with a longer turn around. Probably would take one week once we find time to focus on this.

[2017-05-31 23:09] mmajan87 commented on #747
Ok, thanks a lot for the info. Please keep me posted as this is very important to us!

Thanks!

[2017-05-31 23:15] fnicollet commented on #466
Hello,

This issue is still relevant.
The OSRM estimation changed a little (from 3h20 to 2h56) but still, Mapzen shows up 2h40 while the trip is more like 3h20

Thanks,
Fabien

[2017-06-01 16:34] #724 closed

[2017-06-01 16:40] dnesbitt61 commented on #526
I believe this was fixed by #745. If not, please reopen

[2017-06-01 16:40] #526 closed

[2017-06-01 16:42] dnesbitt61 commented on #278
fixed by #739

[2017-06-01 16:42] #278 closed

[2017-06-05 06:51] kinnou02 opened #751 "debian8/gcc4.9 support"
Hello here,

For Navitia most of our production platforms run on debian, so we did compile valhalla on it. A recent [commit](https://github.com/valhalla/valhalla/commit/e79dfec18c36b56f5b3b049bc94cdf2023a8b080#diff-f8ffd5f939ae3ff5f7770e7c5c2bb148R692) broke this build.
As debian isn't one of the platform you are targeting we would like to know how do you want to handle that kind of stuff. The bes

[2017-06-05 12:25] kevinkreiser commented on #751
thats fine yes please PR these compatibility changes. until such a time as we have the ability to run builds against multiple compilers on mulitple distros it will be great if you cant help us stay compatible with your environment. we want to be as compatible with as many different environments as possible.

just for reference, does your platform allow using `std:undorerd_map<>{}` instead of `std:

[2017-06-05 13:03] kinnou02 commented on #751
Great! `std:unordered_map<>{}` should works

[2017-06-05 13:37] #751 closed

[2017-06-06 10:30] rinigus commented on #726
Its not exactly an issue, but for documentation purposes I'll write it up here.

I shipped yesterday my first release of Valhalla on Sailfish OS - its now distributed as an offline solution for navigation on this mobile platform. We would have to still make some small adjustments to make "client programs" to call it, but its rather simple to do.

To distribute the tiles, I wrote a small C++ progra

[2017-06-06 13:35] kevinkreiser commented on #726
@rinigus this is cool, when we get to doing this in sdk form or as a service we'll be sure to take a look! thanks again and im glad it worked out for you!

[2017-06-06 14:55] kevinkreiser opened #756 "wrong length on path with no ots coverage"
on portions of the path where we have no ots coverage we accumulate a segment with an invalid ots id. this is useful to be able to measure the parts of a given trace that were and werent on osmlr segments (ots's). there is a bug that sometimes these fake segments are measured has having 0 length. reported by @dnesbitt61

[2017-06-06 15:06] #756 closed

[2017-06-06 15:18] acwilton opened #759 "No real testing for matrices"
We have no testing at all for CostMatrix or TimeDistanceMatrix. Perhaps some unit tests could be made for some of the individual parts of CostMatrix and TimeDistanceMatrix. Then maybe some tests comparing the matrices' distances and times to that of the actual routing algorithms using random routes and/or some predetermined ones? Though, it may be necessary to fix issue #425 to do that. (If that i

[2017-06-06 16:19] rinigus commented on #726
Thank you very much for your help and  developing this great router! We'll try to contribute back as we can. One translator has already asked how to translate routing instructions , he will probably contact you  a bit later .

Out of curiosity, is it the first known rollout of Valhalla as offline router on mobile?

[2017-06-06 17:11] kevinkreiser commented on #726
No problem we're glad you like it. That sounds great about the translations! Sadly this wouldn't be the first offline mobile application using valhalla but it would definitely be the first one on your target platform!

[2017-06-06 18:26] rinigus commented on #726
@kevinkreiser, I'll encourage the translators. And thanks for telling insider info regarding Valhalla @ mobile :) . I wonder which application is it and how did they solve the distribution format problem?

[2017-06-06 18:42] kevinkreiser commented on #726
Yeah we've been wanted for some time to officially target common mobile platforms with proper build tooling etc. From time to time we'll hear about someone else getting it going but we dont usually end up doing more than answering questions along the way.

So I'm not really sure but I think that distributing of the data is not an on demand thing in the other applications I've heard of. So the tile

[2017-06-06 19:50] rinigus commented on #726
I see, thank you! If I learn something about the distribution (its mainly sets based on Geofabrik POLY files, planet imported into tiles and later distributed) or other feedback with our mobile use, we'll let you know. Thank you again for your support!

[2017-06-06 22:05] PayasR commented on #708
Hey @kevinkreiser! How about fedora/RHEL? I couldn't find any COPR repositories. Any ideas?

[2017-06-07 20:04] kevinkreiser commented on #708
@PayasR We'd love to support as many distros as possible! If you have any knowledge of how to build rpms etc we'd love to see contributions. At this time we dont have any plans to spend time on these types of things but we'd love to provide info to people who are more experts in packaging for different platforms. let us know if you want to work on this and we can open an issue and we can answer qu

[2017-06-11 06:34] PayasR commented on #708
@kevinkreiser I'd love to!
I just had a look at https://github.com/valhalla/packaging .
I shall open an issue there, and I've created a COPR project at https://copr.fedorainfracloud.org/coprs/payasr/valhalla/

[2017-06-12 13:37] #537 closed

[2017-06-14 17:52] kevinkreiser opened #769 "use customizable map matching options in traffic segment matcher"
we want to allow requests to traffic segment matcher change map matching parameters on the fly (just like in meili service and trace_* services). to do so we need to basically copy this method:

https://github.com/valhalla/valhalla/blob/master/src/thor/service.cc#L302-L330

into a protected method of the traffic_segment_matcher and then use of it when constructing the mapmatcher shared_ptr. after

[2017-06-14 17:55] kevinkreiser commented on #769
while we're at it we should start respecting the mode of travel, ie require the `costing` be passed

[2017-06-14 23:35] gknisely commented on #747
I have found an issue with the new logic.  I have a fix and I am in the process of testing it.

[2017-06-15 18:26] #747 closed

[2017-06-18 05:50] eson57 opened #775 "Swedish translation"
Hi guys!
Because of [OSM Scout Server](https://openrepos.net/content/rinigus/osm-scout-server), I'm trying to translate valhalla into Swedish and found that it is really, really hard to find an acceptable Swedish solution for the <CARDINAL_DIRECTION> block. So I was thinking, maybe there is Swedish people involved in this project, that can come up with suggestions/ideas?

[2017-06-18 15:09] kevinkreiser commented on #775
@eson57 what are you finding difficult? maybe we can give some advice. Can you give some examples and the problems they raise? As we add support for new languages we may need to add new ways of handling certain linguistic constructs. If you could give us some details maybe we can get it figured out! Ha det bra!

[2017-06-19 11:39] eson57 commented on #775
OK, lets see if can explain this in English.

The main problem is the initial three "Head <CARDINAL_DIRECTION>" strings. To make sense in Swedish I have to remove "Head" and therefore, <CARDINAL_DIRECTION> sometimes needs to start in upper case and sometimes not.
Swedish people may think that I could keep the "Head", translated to "Mot", but that will work only in some cases. For most strings, tha

[2017-06-19 12:12] kevinkreiser commented on #775
thats perfectly fine. we can override the swedish narrative builder to capitalize these in the code. if you can make a pull request with the language file we can make the code changes to capitalize when it appears at the beginning of the phrase. tack igen!

[2017-06-19 12:17] eson57 commented on #775
Great, if you can do that. 👍  PR coming up as soon as I am ready translating. I kind of put it on hold, because of this.  :)

[2017-06-19 19:10] dnesbitt61 opened #776 "Pedstrian Route Improvements Needed"
http://www.openstreetmap.org/directions?engine=mapzen_foot&route=51.2754%2C-1.0684%3B51.2677%2C-1.0882#map=16/51.2715/-1.0783

http://localhost:8002/route?json={"locations":[{"options":{"allowUTurn":false},"latLng":{"lat":51.26766141261736,"lng":-1.0883197188377378},"_initHooksCalled":true,"lat":51.26766141261736,"lon":-1.0883197188377378},{"options":{"allowUTurn":false},"latLng":{"lat":51.2755013

[2017-06-19 19:52] JamesBelchamber commented on #776
Reporter here. [I made this changeset](http://www.openstreetmap.org/changeset/49675294), which is more representative of the junction. But I don't think it makes a difference.

[2017-06-20 13:09] joto opened #778 "Deprecated old-style multipolygons in OSM data"
I wanted to inform you about some changes in OSM data recently that might or might not be relevant for you.

OpenStreetMap has finally gotten rid of "old-style multipolygon relations". Those are relations of `type=multipolygon` where the tags are on the (outer) ways and not on the relation. For a long time this type of tagging and the more modern one of tagging the relation only have lived side-by

[2017-06-21 06:13] #775 closed

[2017-06-21 17:28] dnesbitt61 opened #785 "Reconsider "break" logic in TrafficSegmentMatcher::form_segments"
//if we didnt have a start or end time then we are past where we had interpolations
      if(start_time == -1 && end_time == -1)
        break;

This might be a valid condition if the path enters a segment (not at segment start) from a local road and exits a segment (not at segment end) onto a local road.

However, removing this check causes a test failure.

[2017-06-23 13:15] kevinkreiser opened #789 "Add Swedish Tests and Capitalization of Tags at the Beginning of Phrases"
swedish is missing unit tests its also the first language who has tags at the beginning and in the middle of phrases so we need to do something (maybe general) that capitalizes any tags at the beginning of phrases

[2017-06-23 13:31] #785 closed

[2017-06-23 13:41] kevinkreiser opened #790 "make traffic segment matcher robust to starting on edge with chunks but not using them all"
you can start your trace on a really long edge made of chunks in such a way that the first chunks arent actually segments that are on your path. this can be easily added as a test case in traffic_matcher test. we have taken pains to not break out of the loop that makes traffic segments when the edge we are on had chunks that the path doesnt actually touch. we need to do the same t hing at the begi

[2017-06-23 17:43] dnesbitt61 commented on #452
Code complete, still looking at how/when to launch in hosted service.

[2017-06-29 09:39] slvlirnoff opened #798 "route service concurrency limit / deadlock?"
When I run the route service with a concurrency higher than 1 and I try to stress test the service using siege after a while the server fully lock and still accept request but don't return any routes (timeout after a while).

There's no specific logs for the service and the likelihood increase with the amount of concurrency.

With a concurrency of 8 (server with 8 core) it happens after a few hund

[2017-06-29 10:22] slvlirnoff commented on #798
In fact, I had an issue in my list of routes for the tests and one route was duplicated many times.
It seems that if I have enough different routes picked randomly it almost never happens but if I use only one route for the stress testing for instance this one: /route?json=%7B"locations"%3A%5B%7B"lon"%3A7.741244%2C"lat"%3A47.536451%2C"type"%3A"break"%7D%2C%7B"lon"%3A7.606642%2C"lat"%3A47.566794%2C

[2017-06-29 12:43] kevinkreiser commented on #798
i have seen this exact behavior before when testing prime_server as a file server. the fact that you are running into it is just more evidence that its a proper bug. i'm going to open an issue over there to track this

[2017-06-29 12:50] kevinkreiser commented on #798
we're tracking this bug upstream where its occurring

[2017-06-29 12:50] #798 closed

[2017-06-29 20:13] nvkelso commented on #394
Here's the filtering we ended up with for the [Bike Map v2](https://mapzen.com/blog/bike-map-v2/) (below).

![legend3](https://user-images.githubusercontent.com/853051/27707894-c9e53b22-5ccb-11e7-8075-191fec35c4df.png)

We're coloring things **green** for beginner and intermediate cyclists. **Orange** is for intermediate and **dashed orange** is for advanced cyclists.

**Top level highlights:**

-

[2017-07-03 10:02] BFutterer opened #800 "How to add new profiles to valhalla?"
I try to add a new profile for firetrucks, which I derived from truck. Therefore I got the files
firetruckcost.h (derived from truckcost.h) and firetruckcost.cc (derived from truckcost.cc). Moreover I copied in graph.lua all statements which includes truck and renamed them to firetruck.

I tested it, but as expected it didn't work. I know there are a few other files for truck costs like libvalhall

[2017-07-04 04:35] araichev commented on #699
Can some at Valhalla do the first task above: publish the transit tile protocol buffer format?
Then i could look into the second task.

[2017-07-05 12:03] dnesbitt61 commented on #699
We hope to have a proto specification in the next week or tow, but then we have to write the importer from that specification into Valhalla tiles. This is on our near term plan so we hope to get to that soon.

[2017-07-05 15:42] drewda commented on #691
@araichev FYI, you do currently have the option to run your own local instance of the [Transitland Datastore](https://github.com/transitland/transitland-datastore), import hypothetical GTFS feeds into it, and run valhalla_build_transit against it.

We don't provide support for this option -- it defeats the purpose of having a single centralized Transitland Datastore that aggregates data from aroun

[2017-07-05 21:02] drewda commented on #769
@dnesbitt61 is debugging to see if this is working

[2017-07-05 23:10] araichev commented on #691
Thanks, @drewda.
I'll look into that option.

[2017-07-05 23:38] nvkelso commented on #394
Toole Design has a nifty bike stress calculation:

- https://bna.peopleforbikes.org/#/
- https://s3.amazonaws.com/pfb-public-documents/OSM.Tags.xlsx
- https://s3.amazonaws.com/pfb-public-documents/Charts.for.LTS.Definitions.2017-0403.xlsx
- https://github.com/azavea/pfb-network-connectivity

They include additional metrics like:

- (driving) **lanes**
- (car) **parking**
- (bike lane) **width**
-

[2017-07-05 23:40] nvkelso commented on #394
<img width="724" alt="screen shot 2017-07-05 at 16 39 27" src="https://user-images.githubusercontent.com/853051/27889335-9871d53a-61a0-11e7-8a9d-2297ddac0e3b.png">

[2017-07-06 01:39] spencerrecneps commented on #394
One of the issues we came across in looking at off-the-shelf OSM routing was the challenges of incorporating the stress at intersections. We need to be able to read what's happening on the cross streets in order to have a sense for how stressful it is. Imagine, for example, you're on a highway=residential and need to cross a `highway=secondary` with `maxspeed=40` mph and `lanes=6`. That's a totall

[2017-07-06 06:29] nvkelso commented on #394
I think it is possible with Valhalla, but @dnesbitt61 is the expert :)

[2017-07-06 13:26] dnesbitt61 commented on #394
We are currently working on a low-stress bicycle route algorithm and are starting to investigate how we deal with intersection transition costs. We have a concept in Valhalla for each edge-to-edge transition at a node there is a "stop-impact". This is a value from 0-7 that indicates relative likelihood of needing to stop at an intersection and the relative time impact. It is based on the class of

[2017-07-06 13:56] kkalera commented on #800
Subscribed to this. This is something i'll bee looking for in a short while too.

[2017-07-06 14:05] dnesbitt61 commented on #800
You shouldn't need to change any Lua - that is used only to import OSM tags into Valhalla attributes. If there are tags that you think are needed as Valhalla attributes, please add issues to our repo and we can investigate adding them to the Valhalla tiles.

Did you add the firetruckcost files to Makefile.am so they get compiled and built? You also need to add the costing class as a valid costing

[2017-07-06 14:08] dnesbitt61 commented on #800
You also should derive the class within the truckcost.cc file, which means you wouldn't need to add to Makefile.am.

[2017-07-06 14:16] kkalera commented on #800
Thanks for the response @dnesbitt61, i'm pretty busy atm but i'm going to check this out and maybe write a guide on how to do this, so it would be easier in the future for people to do this. I'm hoping that @BFutterer can solve his firetruck problem and maybe give some feedback on how he did it

[2017-07-06 16:31] drewda commented on #769
Works now. You just need to make sure to specify which parameters are customizable by request:

[code]

[2017-07-06 19:34] spencerrecneps commented on #394
So to be clear, you'd be able to read other attributes from the cross streets, such as `maxspeed` and `lanes`, right? Those are the two key tags we're looking at. I like that you can also differentiate by turn type. We just had a comment come up pointing out that we might want to treat left turns differently if there are multiple left turn lanes (which would be considered more stressful than a sin

[2017-07-06 19:44] dnesbitt61 commented on #394
Not with our current approach. We distill that information into the stop impact. We do not read all crossing edges and their attributes during route generation - just the edge that is being entered and the node that is being crossed.

[2017-07-06 19:52] spencerrecneps commented on #394
But the stop impact would be able to use `maxspeed` and `lanes` from the cross traffic in calculating that 0-7 value?

[2017-07-07 13:30] dnesbitt61 commented on #394
This computation is done during data import and those factors can be considered. We are looking at some possible changes to this computation as we consider the low stress bicycle costing. However this stop impact value is used by all routing types so careful consideration is needed. Currently most of the stop impact is from the difference in road classifications but we have considered using speed

[2017-07-07 14:43] dnesbitt61 commented on #800
This PR: https://github.com/valhalla/valhalla/pull/804/files can be used as a model. It added a new costing method (low_stress_bicycle) derived from an existing costing method (bicycle). It shows how it is added to loki and thor services along with some values in the configuration (built from a script). This has other changes like lua that are generally not required. Focus on valhalla/sif/bicyclec

[2017-07-07 19:54] acwilton opened #806 "Matrix is affected by the general magnitude of costs returned by Sif"
In our TimeDistanceMatrix class (Similar logic applies to CostMatrix as well), we check if the cost of the edge we are considering is greater than an internal threshold:

    // Terminate when we are beyond the cost threshold
    if (pred.cost().cost > current_cost_threshold_) {
      return FormTimeDistanceMatrix();
    }

This means though that if a certain mode of costing naturally has higher c

[2017-07-07 20:02] dgearhart opened #807 "Refactor Navigator transition alerts for metric use"
Add metric test case

[2017-07-07 20:13] dgearhart opened #808 "Refactor Navigator to use Pimpl Idiom"

[2017-07-07 20:18] dgearhart opened #809 "Update Navigator for multi leg use"

[2017-07-07 20:19] dgearhart opened #810 "Expand Navigator auto tests"
1. Test every fix point for AutoMiddletownRoadToLandingsDrive
2. Test roundabouts
3. Test metric

[2017-07-07 20:21] dgearhart opened #811 "Investigate adding a dynamic final short transition alert to Navigator"

[2017-07-07 20:23] dgearhart opened #812 "Use verbal cue logic to prevent post transition within navigator"

[2017-07-07 20:27] dgearhart opened #813 "Investigate if we should return pre-distance string from Navigator"
For example - The first string below is the pre-distance string
“In a quarter mile” “Turn right onto Main Street”

[2017-07-07 20:28] dgearhart opened #814 "Navigator: Handle origin when in parking lot, etc"

[2017-07-07 20:31] dgearhart opened #815 "Finish commenting Navigator methods"

[2017-07-07 20:31] dgearhart opened #816 "Remove Navigator debug"

[2017-07-07 20:33] dgearhart opened #817 "Add error handling for Navigator::SetRoute"

[2017-07-07 20:34] dgearhart opened #818 "Review/improve navigator timing for destination instruction"

[2017-07-07 20:37] dgearhart opened #819 "Assign transit node type for station hieracrhy"

[2017-07-10 12:54] #819 closed

[2017-07-10 14:11] gknisely opened #821 "Look into penalizing walking a bit more for Multimodal routes"
Instead of waiting for a bus or train we will sometimes walk excessively.  Please see
mapzen/eraser-map#828

Changing use_bus = 1.0 does fix this issue
37.42013,-122.13588
37.44473,-122.16245

[2017-07-10 18:21] gknisely opened #822 "oneway:psv=no should behave like oneway:bus=no"
When oneway=yes exists with oneway:bus=no, we currently turn off oneway attribution for buses.  However, we do not have logic to support oneway=yes with oneway:psv=no.  The combination of these tags should also turn off oneway attribution for buses.  http://www.openstreetmap.org/way/6394456

[2017-07-10 19:15] dnesbitt61 opened #823 "Map-Matching: Return top "k" paths"
For short traces (trace_attribute only) allow multiple "alternate" paths to be returned along with each path having a confidence score. Involves updating Viterbi search. API input has addition of max. number of results (default is 1 with no alternates found). Service limit on max. number of alternates and possible limit to number of points in the trace or their length.

[2017-07-11 05:51] Nikerabbit commented on #510
Just checking, are you still planning to have a look?

[2017-07-11 15:22] dgearhart commented on #821
Example route: https://github.com/valhalla/valhalla/blob/master/test_requests/nyc_transit_routes.txt#L5
Walking too far at origin - from 25th st down to 14th st

Example route: https://github.com/valhalla/valhalla/blob/master/test_requests/nyc_transit_routes.txt#L9
Walking too far at origin and dest
![screenshot from 2017-07-11 11-20-30](https://user-images.githubusercontent.com/7515853/28075996-2

[2017-07-11 15:45] kevinkreiser commented on #510
@Nikerabbit i do think i will have a look still yes. the problem is the priority is very low right now and we have many other initiatives. i dont think it will be that big of a deal to get the code working with the format changes but i just dont have the time to spend on it yet, im sorry for such a long delay (i know its a similar story for many open source projects :frowning_face: )

[2017-07-11 17:29] gknisely commented on #821
Using onestops from TL.  This appears to have the same issue.  s-c29r8y86wy-southboundyaleathodgins to s-c29r8ehemw-southboundvedderatelder

[2017-07-12 09:27] BFutterer commented on #800
Thanks for the answers. I followed the instructions of @dnesbitt61:
Therefore I copied the profile of truckcost and renamed them to firetruckcost.cc resp. firetruckcost.h.
Afterwards I replaced truck by firetruck inside them.
Then I added the firetruck files to the makefile and the costing class as a costing option in the worker files (formerly service files) of thor and loki.
Finally I compiled v

[2017-07-12 16:54] #817 closed

[2017-07-13 13:02] dgearhart commented on #823
https://github.com/valhalla/valhalla/blob/master/valhalla/meili/map_matcher.h#L47-L48
@ptpt As per our discussion yesterday - I am assuming that the above method will return: std::vector<std::vector<MatchResult>>
Do you agree?

[2017-07-13 13:16] ptpt commented on #823
@dgearhart yes, don't forget the `k`:
[code]

[2017-07-13 13:20] ptpt commented on #823
and the size of the result lists will be no larger than `k`.

[2017-07-13 13:26] dgearhart commented on #823
@ptpt yep - thank you

[2017-07-13 13:59] dgearhart commented on #823
@ptpt What are your thoughts about the confidence score? Will a confidence score for the path be returned along with the MatchResult vector?

[2017-07-13 15:09] dgearhart commented on #823
### Proposed output for `trace_attributes` to include the confidence score and alternate paths
[code]

[2017-07-13 18:34] dgearhart commented on #823
### Proposed input option and service limits for k-best paths
##### option
[code]

##### service_limits
[code]

[2017-07-14 10:33] ptpt commented on #823
@dgearhart that API makes sense!

Some thoughts on the confidence score: we have a cost asscoiated with each match in the viterbi algorithm, and we compare these costs for finding the best match. We can use normalized costs as the confidence scores, i.e. `each match's score = this match's cost / sum of **all match** costs`.

The question is how we should define "all matches", given a sequence of m

[2017-07-14 12:26] dgearhart commented on #823
@ptpt thanks
@dnesbitt61 @kevinkreiser thoughts on confidence score calculation?

[2017-07-14 12:35] kevinkreiser commented on #823
i would define all matches as just the top k matches, the rest of the matches dont need to factor into the score computation. i was also hoping we could count broken ones and where the breakage occurs we could compute a cost of straight line distance at a minimum speed or something? otherwise i think exactly what @ptpt proposed sounds like what i was thinking regarding score computation.

[2017-07-14 12:52] ptpt commented on #823
@kevinkreiser but if we define all as top k, then the scores will vary by k; `OfflineMatch(measurements, 3)` and `OfflineMatch(measurements, 4)` would give different scores. Does it matter?

[2017-07-14 13:08] kevinkreiser commented on #823
that is correct. i didnt think it was important that the score be globally (over all paths) unique. since the result will be used by a single client to make a decision it seems unlikely the client will call back in with a different `k` and then compare the previous scores. what do @dnesbitt61 and @dgearhart think?

[2017-07-14 13:20] ptpt commented on #823
Another possible solution is that: we add a new method `OfflineMatchTopK`, while we keep the `OfflineMatch` unchanged. The new method only returns at most `k` unbroken matches. If you are still interested in broken matches when it returns nothing, we provide a util that can split the measurement list to make sure the sub lists are not broken, and send these sub lists to `OfflineMatchTopK` to get t

[2017-07-14 13:34] ptpt commented on #823
@kevinkreiser the question is that how to calculate a broken match's cost. A broken match has multiple costs while a unbroken match has a single cost. In a more complicated case, if the top k contains both unbroken matches and broken matches, how should we normalize them.

[2017-07-14 13:39] kevinkreiser commented on #823
@ptpt what i was suggesting was that because we dont have cost for traversing the break in the broken match, that we give it an estimated cost for that section as the slowest speed to travel the portion of the trace that was unmatched. if timestamps are given we could even simply get the cost based on the elapsed time between time stamps, or we could do what i said before which is just use the str

[2017-07-14 13:48] ptpt commented on #823
Okay! Make sense to me.

[2017-07-14 20:24] #555 closed

[2017-07-17 07:08] slvlirnoff opened #828 "Query for departure time and wait for the 'first bus' (multimodal)"
Hi all,

Right now valhalla count the initial waiting time for the first public transport leg in the results into the total duration of the trip / cost for the graph traversal.

It does make sense if you strictly understand the departure time as the time when the user leave for his trip (as usual for car/walking navigation). But it could as well be understood as the request for the next possible t

[2017-07-17 13:51] gknisely commented on #828
@slvlirnoff Thank you for your input.  Yes, this is directly related to #821 and we hope to have this resolved as soon as possible.  Hopefully your proposal will reduce our development and testing time.

Thank you!

[2017-07-18 12:45] #822 closed

[2017-07-19 10:37] TeXitoi opened #837 "Underuse of cycleway"
https://www.openstreetmap.org/directions?engine=mapzen_bicycle&route=48.9053%2C2.0841%3B48.9284%2C2.0483#map=15/48.9165/2.0652

In this example, we leave the cycleway at it's middle. It seems obvious that, in this case, you should stay on the cycleway.

Maybe a intersection-transition-cost artifact or no priority to cycleway?

https://www.openstreetmap.org/directions?engine=mapzen_bicycle&route=48

[2017-07-19 12:59] kevinkreiser opened #838 "Make Node Snap Configurable in Search API"
So currently the node snap tolerance for loki is hardcoded to 5 meters. The problem with that is different people want different node snappings for different locations so we want a location parameter that defaults to 5 meters but lets people set it to something else.

This is currently causing a bug that happens with `edge_walk` for map matching. basically what happens is you do a route where the

[2017-07-19 13:37] acwilton commented on #837
Just looked into it. It has to do with the fact that the road was tagged poorly. There is a separate cycleway following along the road (which is what we expect the bike route to follow) but a large portion of the road was also tagged with cycleway=track as well even though the separated bicycle lane was already accounted for with the cycleway. Our bicycle costing currently has a slightly higher pr

[2017-07-19 13:55] gknisely commented on #828
Hi @slvlirnoff
I have been making a few changes on our side and the results are looking good.  Can you provide me with a few test cases that I can try out as well?  Please provide as much detail as you can so that I know what the mutimodal route should do vs what it currently does.
Thanks.
--Greg

[2017-07-19 14:03] TeXitoi commented on #837
Thanks for the quick reply.

https://www.openstreetmap.org/changeset/50405265#map=15/48.9154/2.0668

I'm not able to match your message with your changeset. I can't find any modification related to cycleway. What I miss?

[2017-07-19 14:14] TeXitoi commented on #837
Never mind, seems that the problem was on the removed way that was hidden by the real road.

[2017-07-19 14:15] acwilton commented on #837
Ya sorry about that. After removing the cycleway=track tag from the one large section of the road, there didn't seem to have a purpose in having the road split up into two ways so I merged them.

[2017-07-19 14:18] TeXitoi commented on #837
Got it, thanks!

[2017-07-19 14:49] kevinkreiser commented on #620
ok ive taken a stab at this and ran into a few questions!

1. when deciding whether or not to put a label in the queue, we check the sortcost instead of the cost, this seems to be the mechanism by which we avoid allowing routes greater than the `max_route_distance_factor` or the `breakage_distance` (whichever is smaller). it looks like this:

[code]

I was thinking it needed to be changed to:

[co

[2017-07-19 17:56] ptpt commented on #620
1. It should be fine since we have switched to `baldr::DoubleBucketQueue` which can hold greater sort costs than the specified range.

2. It doesn't make sense to combine different metrics because the time could be much larger than the distance (e.g. milisecond and meters). This would make weights unbalance. It would be better to combine them as a single speed difference:

[code]

Note that I remo

[2017-07-19 18:49] kevinkreiser commented on #620
@ptpt thanks that explains it perfectly! ill make that change

[2017-07-19 19:45] cliffordsnow opened #839 "Ferry Route isn't using duration tag"
Looking at the [Mukilteo-Clinton](http://www.openstreetmap.org/way/5901929#map=14/47.9621/-122.3271) the [router](http://www.openstreetmap.org/directions?engine=mapzen_car&route=47.9495%2C-122.3048%3B47.9747%2C-122.3495) returns a trip duration of 13 minutes yet the duration tag shows a duration of 20 minutes.

[2017-07-19 20:45] gknisely commented on #839
Thank you!  We will add this in as soon as we can do so.

[2017-07-20 06:37] slvlirnoff commented on #828
Hi @gknisely
The place I'm familiar with (switzerland) aren't yet integrated into transit.land/valhalla but I'll try to find similar pattern somewhere else. I'll try to collect a few test cases over the week-end!

Best,
Cyprien

[2017-07-20 15:40] drewda commented on #828
@slvlirnoff FYI, here are some Swiss transit operators that Mapzen Turn-by-Turn should be importing from Transitland: https://transit.land/feed-registry/?country=CH&import_level=4

Related: https://github.com/transitland/transitland/issues/52

[2017-07-20 18:44] #821 closed

[2017-07-24 13:19] #620 closed

[2017-07-24 15:47] #838 closed

[2017-07-24 16:02] #687 closed

[2017-07-24 16:04] #538 closed

[2017-07-24 16:05] #452 closed

[2017-07-24 16:27] dnesbitt61 commented on #243
This is not a big issue since mostly we use larger extracts for testing. If one is really worried about this they can use osmconvert or osmosis to merge the OSM pbf files into one and then build tiles with that.

[2017-07-24 16:27] #243 closed

[2017-07-24 16:56] kevinkreiser commented on #451
@benstadin we've accomplished much of what was discussed here in a large pr that created a class called `actor_t`. the configure script can also now be told not to build anything that requests stuff for data (lots of dependencies) or for http services (prime_server and zmq dependencies). at this point it would be great if you could take a look at the minimal `actor_t` class which we are planning t

[2017-07-24 16:56] #451 closed

[2017-07-25 20:15] uqekizig opened #849 "Unable to request transit isochrones with contours beyond 120 minutes"
Result: {"error_code":151,"error":"Exceeded max time:120","status_code":400,"status":"Bad Request"}

I realize this is intended to happen, but it would be nice to be able to get isochrones beyond 2 hours, considering the large size and slow transit of some American metroplexes (for example in the DFW metroplex, it takes 3 hours to get from a Dallas suburb to a Fort Worth suburb with public transit

[2017-07-25 20:27] dnesbitt61 commented on #849
Are you running Valhalla locally? If so you can update configuration to increase the limits.

[2017-07-25 20:33] uqekizig commented on #849
I'm using the Mapzen API isochrone service as described here: https://mapzen.com/documentation/mobility/isochrone/api-reference/

[2017-07-25 22:29] eliboni opened #850 "Timing is too short for curvy roads"
I like valhalla optimism but when routing across curvy roads in the Alps it tends to exaggerate.

An example across a few of the most beautiful Dolomiti passes in italy:

https://valhalla.mapzen.com/route?api_key=valhalla-xxxxxxxx&json={"locations":[{"lat": 46.5080187,"lon": 11.7674125},{"lat": 46.5498665,"lon": 11.8083165},{"lat": 46.5137017,"lon": 11.8724846},{"lat":46.4875517,"lon": 11.8121935}

[2017-07-26 12:13] kevinkreiser commented on #850
yes we have a spot in our data to measure curviness however we've yet to populate it. once we do we'll be able to penalize road speeds accordingly. essentially, you're exactly right, this is a TODO we still have in the code :smile:

[2017-07-27 19:21] dnesbitt61 opened #855 "Add logic for motorroad tags"
Do some research to find the proper logic to use when combined with different highway tags. In particular when motorroad=yes it likely should turn off pedestrian and bicycle access (overriding country specific defaults). It also may impact default speeds.

[2017-07-28 02:57] gknisely commented on #299
duplicate.  #855 created.

[2017-07-28 02:57] #299 closed

[2017-07-28 17:19] robhawkes opened #858 "Valhalla crash when calling isochrone endpoint"
I've loaded up Valhalla using the [New Zealand extract from Geofabrik](http://download.geofabrik.de/australia-oceania/new-zealand.html). The routing endpoint works great but whenever I try an isochrone Valhalla crashes with the following output:

[code]

What can I do to help debug this?

## Useful information

* MacOS 10.12.5
* Valhalla built from source [using readme instructions](https://github

[2017-07-28 17:31] robhawkes commented on #858
So I took the tiles created by my local build and gave them to the Valhalla Docker container and that worked fine so the original issue seems to be related to a custom (non-Docker) build of Valhalla. I imagine I've done something wrong so any help with debugging this would be appreciated.

[2017-07-31 13:41] kevinkreiser commented on #858
@robhawkes im sorry but the core team here doesnt actually use macs (we actually dont have any) so reproducing this is going to be very difficult to say the least... i'm wondering if there is anything wonky with your homebrew, is it possibly for you to update it (grasping at straws here i know). do you have any colleges who'd be willing to try to build it to see if they can reproduce it as well? w

[2017-07-31 15:07] dnesbitt61 commented on #759
Could some tests be added that use the Utrecht data (similar to how map-matching tests use it)?

[2017-07-31 15:29] kevinkreiser commented on #759
yeah go for it!

[2017-08-01 13:50] dnesbitt61 opened #863 "Validate lane counts for two-way roads"
Seems that lane counts on two-way carriageways are incorrect:

example: way Id 369702856
has lanes:2 tag
Each directed edge has lanecount = 2 (instead of 1). Need to consider oneway logic when assigning lane counts (question might be what to do if an odd number of lanes).

[2017-08-01 14:25] acwilton commented on #863
I think the only logical thing we can do if there is an odd number of lanes on a two-way road without additional tagging is to just assume the extra lane is in the "forward" direction as drawn in OSM.

[2017-08-01 20:06] dnesbitt61 commented on #850
These are all classed as highway:primary - and we assign a "default" speed of 75kph for pretty much this entire path. If there are signs for posted speed limits you could add max_speed tags for ways along this path. Otherwise we have an issue to compute curvature of roads and use that to influence max speeds but that might not be an imminent update.

[2017-08-02 15:21] ptpt commented on #823
This is the k-shortest path algorithm I proposed: http://www.sciencedirect.com/science/article/pii/0377221784902698

[2017-08-02 15:53] kevinkreiser commented on #823
here are some papers related to it: http://www.mat.uc.pt/~eqvm/cientificos/investigacao/r_papers.html

[2017-08-02 18:15] ptpt commented on #823
Some thoughts on the interface design:

[code]

Possible usage in `MapMatcher::OfflineMatch`:
[code]

[2017-08-03 08:11] ptpt commented on #823
The one above looks too simple to be true. In `TopKSearch` we can enlarge `vs_`'s graph by adding cloned states to it with `vs_.AddStateId` but we also want to change the way it calculates costs to consider these cloned states. Perfectly we want `TopKSearch` to replace `vs_.TransitionCost` with this new function:

[code]

Apparently we can't do that in C++ :). Need to rethink.

[2017-08-03 08:43] eliboni commented on #850
Thanks for the feedbacks. Yes these are primary roads and I believe speed limit is mostly 60kph, although real average speed is more towards 45kph due to curviness and altitude variation.

I'll verify max speed and will update OSM accroding,  while waiting for the curviness  factor to properly penalize road speed in valhalla. Let me know in case I can help with testing.

Thanks!

[2017-08-03 13:18] porg opened #870 "Distance Matrix: Many-to-Many instead of Any-to-Any"
**Mapzen Time Distance Matrix** — demo at http://valhalla.github.io/demos/matrix/

## My application is the following

I have two data sets:
A) Apartment Candidates
B) Supermarkets (and Schools)

I want to get a table with all distances from each entry in A to each entry in B, and take this as a criteria, which apartment is most attractive location-wise.

## Current situation
This is what I expect

[2017-08-03 13:22] kevinkreiser commented on #870
This exists in our api as well, and its called `sources_to_targets`. Simple set the candidates in `A` as the sources and the candidates in `B` as the targets. Please see here for more info: https://github.com/valhalla/valhalla-docs/blob/master/matrix/api-reference.md#matrix-service-actions

Let me know if I've misunderstood what you need.

[2017-08-03 13:24] porg commented on #870
Wow, first off, impressive instant reply, thanks!
Is there a ready-to-use demo of sources_to_targets ?

[2017-08-03 13:28] kevinkreiser commented on #870
hmmm a demo... not really, but the underlying algorithm works the same as any matrix. Basically the other matrix operations are just special cases of sources_to_targets. We should refactor the github.io demo to make use of sources to targets but its just using the various matrix types because that was the first interface we had. Historical reasons sadly :frowning: Anyway we can look into it! Pleas

[2017-08-03 13:57] porg commented on #870
My question has been answered, so in this regard it could be closed.

But developers or software-buyers/consultants likely want to see the feature in action within the demo, before taking any effort of setting up a development-environment to play around with the API.

So please consider updating your demo. Thanks!

[2017-08-03 14:18] #870 closed

[2017-08-04 15:16] dgearhart opened #871 "Should trace_attributes return results for unmatched results"
- should it return results for single point

- should return results for two disconnected points

[2017-08-04 18:00] dgearhart commented on #88
another example of how forks need to only consider drivable intersecting links
![screenshot from 2017-08-04 13-59-14](https://user-images.githubusercontent.com/7515853/28980826-46c8ca60-791d-11e7-8708-4936e5d9df7b.png)

[2017-08-04 20:55] rinigus opened #874 "British units"
Looks like we can have miles only together with feet, as in US. In UK, they would prefer to get yards instead of feet. Would be great to get British version supported as well.

[2017-08-07 05:12] mortada opened #875 "how to enable higher precision output when map matching?"
Here is a minimal example to illustrate what seems like a precision issue. I'm plotting a trip along with the way it matches to:

![example](https://user-images.githubusercontent.com/1642081/29012680-4bd71030-7af2-11e7-9496-9a4046ec984f.png)

The trip can be created as follows:
[code]
lat | long
-- | --
39.192090 | -75.544514
39.192095 | -75.544519
39.192100 | -75.544524
39.192105 | -75.544528
39.

[2017-08-07 08:42] bentley opened #876 "midgard build fails on OpenBSD"
valhalla-2.3.2:

    c++ -DHAVE_CONFIG_H -I. -I./valhalla -pthread -I/usr/local/include -DBOOST_SPIRIT_THREADSAFE -DBOOST_NO_CXX11_SCOPED_ENUMS -DRAPIDJSON_HAS_STDSTRING -I/usr/local/include -pthread -I/usr/local/include -I/usr/local/include -I/usr/local/include -I/usr/include -I/usr/ports/pobj/valhalla-2.3.2/valhalla-2.3.2/valhalla -I/usr/ports/pobj/valhalla-2.3.2/valhalla-2.3.2/valhalla/proto -I

[2017-08-07 10:17] molind opened #877 "valhalla_build_admins error during planet import"
Just tried to build admins from master commit f2b85b1a811c1ca2bc50a951340d3710be5be530. It's finished with sqlite3 error. See log below.

[code]

[2017-08-07 11:50] kevinkreiser commented on #876
thanks, we'll have a look at these!

[2017-08-07 12:51] gknisely commented on #877
Thanks.   I will check this out as soon as I can.

[2017-08-07 13:18] molind opened #878 "valhalla_build_transit and transit.land"
I've tried to download transit information from transit.land. And now seems i've been blacklisted for overuse without api key. :( Is there a way to download and build transit information without heavy load on transit.land services? May be dump of transit information is available somewhere?

'''
evgen@vmap1:~/data$ valhalla_build_transit valhalla.json http://transit.land/ 100 ./transit_tiles
2017/0

[2017-08-07 13:25] molind opened #879 "skadi (valhalla_build_elevation) and compressed hgt tiles"
Just suggestion of optimization.

I saw you compressed hgt files using gz on your server. And that's perfect option to save bandwidth. But may be it worth also to support compressed hgt files inside skadi to save some storage. Typical compression ratio is 10-20%. It's 5-10 times less storage used for elevation data. With small overhead to decompress on the fly. As you may know there is archive for

[2017-08-07 16:01] drewda commented on #878
@molind thanks for your interest in Valhalla and in Transitland!

We are intending to release static data extracts from Transitland in the future -- that is the ideal way to support a wide range of users. In the meantime, we do need to meter the use of the Transitland API so that it's equally available to all. Users should not be blacklisted from the API, only throttled. Please try spacing out you

[2017-08-08 07:33] molind commented on #878
@drewda thanks for your reply. I'm not trying to run something my own. Just trying to build transit data for valhalla using provided app from this repo (`valhalla_build_transit`). Without changing code i can't make it work as you said. And I'm not sure if it's even possible to download everything it needs in 12k queries. I agree that there is should be throttling to make service equally available

[2017-08-08 13:38] gknisely commented on #877
@molind there is something wrong with the France relation https://www.openstreetmap.org/relation/1403916#map=6/45.174/6.163

I am sure it is something with it's member data; however, I will look at it when I have some free time.  Unless of course you want to look at it.  :-)  In the mean time, I have uploaded the current admin db that we are using in production so that you may continue with Valhal

[2017-08-08 13:47] kevinkreiser commented on #875
this is interesting, i havent yet tried to reproduce this but we do have unit tests which we can use to reproduce and fix this behavior.  i'll take a look when i get the time!

[2017-08-08 13:55] molind commented on #877
@gknisely Thanks! I just checked France boundary and it's seems fixed already, but that's fix is not included into latest planet file yet. Right now i'm in the middle of routing tile generation. I'll check again with updated planet later.

May be it would be useful to print relation number that caused the error.
`2017/08/07 10:02:07.480867 [ERROR] sqlite3_step() error: NOT NULL constraint failed:

[2017-08-08 16:23] mortada commented on #875
@kevinkreiser thanks! I created a PR for a partial fix.

I think the root issue is that many of the data structures are `float` precision, and it'd be better for them to be `double` precision instead.

there are probably many places that have to become `double`, but one example appears to be here:
[code]

[2017-08-08 16:26] mortada commented on #875
I had a similar fix for `osrm` before https://github.com/Project-OSRM/osrm-backend/pull/1841 but I'm not quite yet familiar with `valhalla`

[2017-08-08 16:38] drewda commented on #878
@molind for the time being, you may only be able to download data for a smaller geographic extent.

If you need immediate worldwide transit coverage, another alternative to consider: Mapzen hosts an instance of Valhalla under the name Turn-by-Turn: https://mapzen.com/products/turn-by-turn/ Mapzen Turn-by-Turn includes all transit service provided by Transitland.

[2017-08-08 17:00] dnesbitt61 commented on #875
We aren't going to change precision of points within Valhalla. Much of this information is stored within Valhalla tiles and we are not changing precision there which would mean a tile format change. In addition to being larger data size, we feel that floating point precision for lat,lon is sufficient for routing and most display applications.

It looks to me like your locations are less than 1 met

[2017-08-09 20:47] acwilton opened #885 "TimeDistanceMatrix does not seem to include transition costing in it's final times"
CostMatrix and TimeDistanceMatrix both seem to have slightly different answers for the same queries and this might be due to transition costing. It seems that CostMatrix includes the transition times in it's final times while TimeDistanceMatrix does not. TimeDist does use transition costing for internal use to find the fastest path but when it goes to update the "best_cost" value in it's vector of

[2017-08-10 12:05] kevinkreiser opened #886 "Infinite Loop in Meili Routing"
Certain inputs can cause infinite loops in map matching routing. I've seen this using real data so I'm going to boil it down to a test again and then find where its happening to make a fix.

[2017-08-10 13:45] acwilton opened #889 "Support for encoded polyline input to valhalla_path_comparison tool"
Might be helpful to be able to run a route and then grab the encoded polyline from the output and insert it into the tool for the edge costing to be output along the entire route.

[2017-08-10 14:04] #886 closed

[2017-08-10 19:39] acwilton commented on #885
TimeDistanceMatrix does actually include transition costing. I was mistaken by a bug I had in my matrix testing.

[2017-08-10 19:39] #885 closed

[2017-08-10 19:43] acwilton commented on #759
Closed by #884

[2017-08-10 19:43] #759 closed

[2017-08-11 19:28] #877 closed

[2017-08-11 22:04] noblige commented on #875
@dnesbitt61 we don't want to change stored geometry precision, just precision of calculations in loki and meili. we had a similar problem before https://github.com/valhalla/valhalla/pull/745
I've talked with @mortada - he will do some experiments to see if it's actually precision issue, and where precision is being lost.

[2017-08-11 23:29] dnesbitt61 commented on #875
I was tracking this down a bit when the issue came in. Using the test input, I changed internal computations within the meili Project method to be done in double precision. The resulting lat,lng was cast back to float to store in PointLL. This resulted in 2 nearby locations (less than 1 meter apart) being cast into the same float values. The numbers outside the parenthesis below were doubles that

[2017-08-13 18:38] mlehtima commented on #731
Similar feature would be needed also for Finnish street names because Finnish language has very limited number of prepositions and in most cases grammatical cases are used instead to achieve the same effect.

[2017-08-14 07:54] rinigus opened #891 "en-US-x-pirate: pronunciation of some words for TTS"
As I am working on voice prompts, I have some issues with the text-to-speech conversion of few en-US-x-pirate prompts. The software that I use (MycroftAI/mimic) for TTS supports SSML and can handle `phoneme` syntax. Now, would be great to have a list of pronunciation for few tricky words. Since I am not native speaker and not in linguistics either, its a bit tricky for me. Anyway, so far, I have i

[2017-08-14 08:02] rinigus commented on #891
An example and a background info link that I've got from mimic issue:

[code]

http://www.speech.cs.cmu.edu/cgi-bin/cmudict was suggested as a background info link.

[2017-08-14 08:06] rinigus commented on #891
For Cap'n, I would suggest `k ae p . n`

[2017-08-14 19:03] rmglennon opened #892 "Paris multimodal transit isochrone and routing issues"
We received this very detailed feedback through support (see Desk 865) regarding transit isochrones and unexpected routing in Paris.

Always From:
54, av des Champs-Élysées, 75008, Paris
48.870275, 2.306201

----------------------------------------------------------------------
TEST 1:

To:
Place Monge (Jardin Des Plantes) (METRO), Paris

API call (with no transit costing_options at all):
valhalla

[2017-08-15 17:53] dnesbitt61 opened #894 "Add an option for distance based isochrones"
Form distance based isochrones from any of the costing options. Use distance along roads/paths (rather than time) to form the iso-grid and resulting contours.

[2017-08-16 16:24] dnesbitt61 commented on #419
We have updated the default bicycle type to "hybrid" (city bike) which has a lower default speed. This brings speeds more inline with other services. One can still override the speed in the request if they want time estimates that more accurately represent their riding style and capabilities.

[2017-08-16 16:24] #419 closed

[2017-08-17 18:58] dgearhart commented on #891
thanks - could you submit a pr with the changes?

[2017-08-17 19:31] rinigus commented on #891
The problem is, I don't know how to encode the pronunciation. Being not a native speaker does not help either. In addition, we would probably need just to make a list of pronunciations for the words not recognized by TTS, so that the client programs could feed corresponding TTS software with phonemes.

[2017-08-17 20:06] drewda commented on #892
Related previous work tending to Paris transit data sources in Transitland: https://github.com/transitland/transitland/issues/197

[2017-08-18 16:41] ptpt commented on #823
In progress now.

The solution might be to make the methods replaceable:

[code]

[2017-08-19 00:43] tarakc02 commented on #721
I've found another instance of what seems to be the same problem. Here is the json, looking for isochrones within 60 minutes driving distance of Gothenburg:

```locations":[{"lon":12.0143,"lat":57.7356}],"costing":"auto","contours":[{"time":60,"color":"feedde"}]```

It results in a little sharp-edged rectangle:

https://matrix.mapzen.com/isochrone?api_key=mapzen-XXXXXX&json=%7B%22locations%22%3A%5

[2017-08-19 19:56] rinigus commented on #891
other suggestions:

* Arrr - `aa r ah0 r r .`
* th' - `dh`
* head'n - `hh eh1 d ah0 n`

Improvements / suggestions are very much welcome.

[2017-08-21 07:31] slvlirnoff opened #896 "Broken isochrone for multimodal?"
Using the latest version of valhalla on my local setup I only get small square in response from isochrone with costing multimodal.

I see the same behavior using mapzen mobility explorer here for instance:
https://mapzen.com/mobility/explorer/#/isochrones?bbox=-74.06364440917969%2C40.67894566107212%2C-73.94828796386719%2C40.74959782183326&isochrone_mode=multimodal&pin=40.71455760597044%2C-74.00105

[2017-08-21 12:11] dgearhart commented on #891
I will take a look when I get some free time

[2017-08-21 14:40] dnesbitt61 commented on #721
This is due to the service road: http://www.openstreetmap.org/way/372104821. That is the closest OSM way that allows auto use, but it is not connected to other OSM ways. If you know this area you can make OSM edits to improve the connectivity of roads. We are working on a fix to find other nearby OSM ways that allow auto use.

[2017-08-21 19:55] dnesbitt61 commented on #896
PR https://github.com/valhalla/valhalla/pull/897 fixes this. Will try to update our hosted services early Tuesday (EDT)

[2017-08-21 19:55] #896 closed

[2017-08-22 08:19] slvlirnoff commented on #896
Thanks @dnesbitt61 sounds good.

[2017-08-22 14:46] dnesbitt61 opened #900 "Map-Matching - Error Rejecting High Speed Paths"
Paths in map-matching are not being rejected based on estimated time vs. measurement time due to interpolated points (points close to one another).  Several examples have the first time followed by some measurements at basically the same position (interpolated) - but the map-matching route rejection uses the time difference between the first point and the next non-interpolated point even though th

[2017-08-22 19:05] gknisely opened #901 "verify OSM tags"
Verify that the [OSM page](https://wiki.openstreetmap.org/wiki/OSM_tags_for_routing/Valhalla) is up 2 date for the tags that we process.  Also, update the json tag file for [taginfo](https://taginfo.openstreetmap.org)

[2017-08-23 12:53] dnesbitt61 opened #903 "Invalid Start Time in Traffic Segment Matcher"
The start time of the last segment can be invalid (-1) if the last segment follows an internal edge and is a partial segment. This example demonstrates the issue:

{"trace": [{"lat": 14.66169, "accuracy": 4, "lon": 121.045059, "time": 1483315329}, {"lat": 14.661766, "accuracy": 4, "lon": 121.044205, "time": 1483315344}, {"lat": 14.6629, "accuracy": 4, "lon": 121.043945, "time": 1483315359}, {"lat"

[2017-08-24 18:23] dnesbitt61 opened #906 "Pedestrian Routes Yield Strange Results when Ferries are Taken"
This is due to the A* heurisitic. It currently uses a factor based on the walking speed, but needs to use a factor based on the max. ferry speed. However, this leads to a large performance drop even when no ferries are taken. Maybe some factoring of the ferry penalties and use ferry factors can alleviate some of the performance drop?

http://www.openstreetmap.org/directions?engine=mapzen_foot&rout

[2017-08-24 21:03] mzagaja commented on #878
@drewda Is there documentation for running valhalla_build_transit constrained to the appropriate API limits? I landed on this issue page trying to figure out how to add transit to my valhalla instance and attempted the following:

[code]

[2017-08-25 07:10] Stedewa commented on #906
Hi, I've reported the bug yesterday to Mapzen, thanks to follow it here.
What is also strange, it's the maze done in the village of Yvoire (too in Geneva):
http://www.openstreetmap.org/directions?engine=mapzen_foot&route=46.5127%2C6.4936%3B46.2223%2C6.0547#map=15/46.3657/6.3304
A detail:
http://www.openstreetmap.org/directions?engine=mapzen_foot&route=46.5127%2C6.4936%3B46.2223%2C6.0547#map=19/46.

[2017-08-25 13:04] #903 closed

[2017-08-25 14:12] kevinkreiser commented on #900
so i have a few examples of real data exposing this problem. and i can confirm that exactly what is happening is as you describe above. basically because we always use the time from first of the series of close points it looks like the vehicle was on a given sub route for a reasonable amount of time. however after we then interpolate the times for the interpolated close points it looks like a subs

[2017-08-25 16:01] dnesbitt61 commented on #900
I definitely think the interpolated/duplicate measurements are needed for traffic. I think the main issue is that the meili route needs the time from the last interpolated measurement (rather than the first) so the rejection by time is made properly.

[2017-08-25 16:13] kevinkreiser commented on #900
my point was that the duplicates look erroneous to me. using the time from the appropriate interpolated point will remove too fast segments but in these cases those segments are too fast because their time was piled up on the previous segment and so that  segment wont get rejected and will be kept and indeed will actually be slower than it should be and we cant reject that.

so i was thinking furt

[2017-08-25 17:15] dnesbitt61 commented on #900
But for traffic we need to detect stop and go conditions.

[2017-08-25 17:16] ptpt commented on #900
The proposed change makes sense to me.

What about interpolating measurements in a range of time instead of distance?

[2017-08-25 17:25] kevinkreiser commented on #900
right but we cant tell the difference of stopping for traffic and stopping for any other reason.

im not suggesting we dont do the suggestion (im currently working on it). im just suggesting that the data we are seeing seems suspicious and we cant tell if there was slowdown there or not.

[2017-08-25 18:06] mzagaja commented on #878
I discovered that part of the issue is that the transit_land_url needs to not end with a trailing slash. It started to work but is now giving me 429 rate limit errors. It doesn't seem to have any logic or documentation around the rate limits.

[2017-08-28 18:10] #906 closed

[2017-08-29 10:33] ptpt commented on #823
In progress in this PR https://github.com/valhalla/valhalla/pull/909

One question: How large would the 'k' be usually?

[2017-08-29 10:35] kevinkreiser commented on #823
@ptpt I would imagine it to be small, less than 10 probably more like 3 for practical use.

[2017-08-29 18:20] rmglennon opened #912 "Add auto costing options similar to bicycle to support electric cars, scooters, etc."
This request came in through support (see Desk 932).

The suggestion is to enhance auto costing to include options that are similar to bicycle. For example, for electric vehicles and scooters (or trucks, too), you would want to minimize uphills. You can apparently emulate scooter directions with bicycle costing for "use_roads", "use_hills", cycling_speed", but this should be part of auto costing.

[2017-08-29 19:55] mwujek commented on #912
Thank you for adding my request @rmglennon! I'm happy to add more color to this request if needed—just tag me

[2017-08-29 20:25] #855 closed

[2017-08-30 17:40] dnesbitt61 opened #914 "Edge Merging Issue"
The edges iterator in baldr/src/merge.cc can crash due to a nullptr tile. This can occur if edge merging is attempted on a regional extract of Valhalla tiles (where a directed edge can reach into a neighboring tile which is not in the extract set).

[2017-08-31 10:43] #900 closed

[2017-08-31 17:50] arminakvn commented on #878
@drewda you mentioned: " ... you may only be able to download data for a smaller geographic extent", which is in fact what I want to do. How could I do this when building transit tiles? I just wanted to build transit tiles for one metropolitan area, say metro Boston.

[2017-09-01 11:23] ptpt commented on #823
Theorically, what would you expect the topk search algorithm to return if there exists only one path but you ask for 2 (k=2)?

Say we have a trivial graph that has only one path from left to right:
[code]

According to @kevinkreiser's suggestion, if we weight breakages between states with a large cost, then we would expect the 2nd best path to be same as `1 -> 2 -> 3 -> 4` but with a broken edge i

[2017-09-01 12:21] kevinkreiser commented on #823
yeah i was thinking of this yesterday.. what if we have it throw, catch the exception and stop the k loop and just return less results. i dont think there is anything wrong with having less than k results.

[2017-09-01 12:45] dnesbitt61 commented on #823
Definitely fine to have less than k results. Most of the time these should be short traces and often only 1 result is even possible - so only 1 should be returned in that case.

[2017-09-01 13:08] ptpt commented on #823
So you agree that it should return maximumly k **unbroken** paths. That's great to keep simple. To be consistent, if there is no path at all, then it should return 0 path, right?

[2017-09-01 13:11] ptpt commented on #823
We have discussed this issue above. My suggestion was:

[2017-09-01 13:33] kevinkreiser commented on #823
my preference, although this is the least simple, is to always return at least one path (broken or not) and then not return further paths if they are broken.

[2017-09-01 13:36] kevinkreiser commented on #823
maybe we can make this approach simple by having the caller specify whether or not to return broken paths. so like in offline match we call it like `vs.SearchPath(time, k==0)` where `SearchPath(StateId::Time time, bool allowBrokenPaths)`

[2017-09-01 13:37] kevinkreiser commented on #823
this way only the 0th path will allow for a disconnected part but subsequent ones wont be returned, is that too messy @ptpt @dnesbitt61 ?

[2017-09-01 14:04] ptpt commented on #823
I mean it should return empty paths. Sorry.

[2017-09-01 14:23] kevinkreiser commented on #823
i knew what i meant, i think returning 0 paths is not good. thats why i proposed above where we get at least 1 path broken or not.

[2017-09-01 19:05] ptpt commented on #823
If we offer both `OfflineMatch` and `OfflineMatchTopK`, it's easy to have the one you proposed:

[code]

[2017-09-05 11:28] kkalera commented on #800
@BFutterer, where you able to solve your error's?

[2017-09-05 23:29] BFutterer commented on #800
Unfortunally I wasn't able to solve it until now. However I also haven't work on this problem very much.

[2017-09-07 16:57] JesseCrocker opened #918 "Routes making unnecessary turns and u-turns instead of going through intersection with pedestrian costing"
Query with bicycle costing, this generates what i would consider to be the correct route
https://valhalla.mapzen.com/route?json={%22locations%22:[{%22lat%22:37.12784397452773,%22lon%22:-118.43036413192748,%22type%22:%22break%22},{%22lat%22:37.127728495424094,%22lon%22:-118.43207538127899,%22type%22:%22break%22}],%22costing%22:%22bicycle%22}
![screen shot 2017-09-07 at 10 52 22 am](https://user-ima

[2017-09-07 17:07] dnesbitt61 commented on #918
Thanks for the bug report. Investigating...

[2017-09-07 19:11] dnesbitt61 commented on #918
Bicycle costing does not allow Uturns except at dead-ends - that explains why bicycle costing works. This appears to be an issue in the SetForwardConnection and SetReverseConnection where it uses the predecessor cost to the end of the overlapping edge. In this (and other) cases the extremely long edges make the cost too large vs. the short, U-tun connection that is made. Just need to figure out th

[2017-09-07 20:39] rmglennon opened #919 "Strange ordering for optimized route results with this query"
This came in through support (see Desk 956).

Query to reproduce:

https://matrix.mapzen.com/optimized_route

 {'json': '{"locations": [{"lat": 38.92547, "lon": -92.28772, "name": "start"}, {"lat": 38.336223, "lon": -92.653129, "name": 270221}, {"lat": 38.35063676, "lon": -92.61344025, "name": 270224}, {"lat": 38.35358264, "lon": -92.61237244, "name": 270225}, {"lat": 38.34644808, "lon": -92.59998

[2017-09-08 12:18] dnesbitt61 commented on #919
The order in the returned JSON locations array is the order of the optimal positions. It looks to me like the labels for the locations are not the order in which the locations are visited? Can you check that the number used for the label is the index within the returned JSON locations array? Alternatively, is there a simpler (less locations) case that illustrates the issue?

[2017-09-08 14:59] jyunis commented on #919
@dnesbitt61 - I will double-check and get back to you. Thank you for looking at this!

[2017-09-08 16:01] kevinkreiser opened #921 "Correct Graph Edge Not Found"
correct result:
http://localhost:8002/locate?json={"locations":[{"lat":7.245197113191206,"lon":125.21601229906084,"minimum_reachability":0,"radius":0}],"verbose":true}

move a tiny bit south, incorrect result:
http://localhost:8002/locate?json={"locations":[{"lat":7.245101324633605,"lon":125.21599084138872,"minimum_reachability":0,"radius":0}],"verbose":true}

this seems odd to me... the bins them

[2017-09-08 16:09] jyunis commented on #919
@dnesbitt61 - I'm getting a slightly different ordering today, but a generally similar sequence. I checked to make sure I'm using the order that is returned in the JSON 'locations' array. Is there any way for you to provide a visualization (or at least lat/lon ordering) that you're seeing when you optimize this route? Then I can check that against what I'm seeing to get to the bottom of this.

Tha

[2017-09-08 17:06] dnesbitt61 commented on #919
I don't have a good way to visualize this. Do you see correct behavior on smaller requests (less locations)? That would be much easier to verify locations and label behavior. We have a demo (under valhalla/demos repo) but it uses point and click to enter locations (rather than an input URL).

[2017-09-08 17:31] JesseCrocker commented on #918
Thanks for the quick fix on this!

[2017-09-08 17:35] dnesbitt61 commented on #918
we plan to update Mapzen turn-by-turn services on Monday.

[2017-09-08 18:11] dnesbitt61 commented on #919
I definitely get different results each time I run this request with different overall length and time.  Will have to dig deeper.

[2017-09-08 18:19] jyunis commented on #919
Thanks. I'll see about finding similar results with a smaller dataset.

[2017-09-11 15:37] jyunis commented on #919
I cut the stops in half at random from the example route above and am still seeing somewhat unexpected route ordering.
![screen shot 2017-09-11 at 10 36 09 am](https://user-images.githubusercontent.com/942432/30283236-2288140c-96dd-11e7-8c01-116996a62b4d.png)

[2017-09-11 19:15] gknisely opened #924 "Gate issue"
http://www.openstreetmap.org/directions?engine=mapzen_car&route=50.76615%2C5.98374%3B50.76440%2C5.97146#map=15/50.7712/5.9805

There is this gate node 2173190343

http://osmlab.github.io/osm-deep-history/#/node/2173190343

There was a routing problem on the road found this gate, changed tags.
But now this behavior.

If set some closer then it takes the short route over the gate.

When playing with

[2017-09-11 19:16] gknisely commented on #924
@AllroadsNL

Currently, Mapzen's routing enginge does not support access:conditional.  We apply a 5 min penalty to all gates and if a path exists where we can route without a gate, the routing engine will route along that path.

[2017-09-11 19:57] AllroadsNL commented on #924
Hello,

This evening I was looking, where I could reach Mapzen for this. Till the mail pops up.
Thanks.

access=yes, then mapzen give a 5 minute penalty, but how can we tag a gate, that is always open till :conditional=no @ (ice), so that routing do not give this penalty.

I like to tag the actual situation, a open gate, this is not tagging for the render.
It is like with a fee, do you have to sto

[2017-09-11 20:06] dnesbitt61 commented on #924
We will look into, but it may be a few weeks due to other priorities. Thanks!

[2017-09-12 12:44] #921 closed

[2017-09-14 15:21] dnesbitt61 opened #927 "Loop ways may break edges unnecessarily"
This way Id: http://www.openstreetmap.org/way/237501213 is broken into 6 edges. In the NW in the gray area between the 2 intersections there are actually 2 edges but not sure why. Is a loop detected for the way first (forcing it to be split at an intermediate node) even though there are intermediate intersections?

[2017-09-14 18:20] #310 closed

[2017-09-18 09:02] ptpt opened #930 "Add transition penalty between different road types in map-matching"
In multimodal, since meili doesn't know a trace's transport mode, it considers all road types, and it considers transitions between all road types equivalent. This leads that a trace may match road segments in very different road types, e.g. highway -> sidewalk -> highway -> ferry -> etc. which doesn't look that correct. Although we can guess a trace's transport mode by GPX timestamps (average spe

[2017-09-18 10:58] dnesbitt61 commented on #930
Do you need to support multiple modes? Walking, bicycling, auto are fine, but public transit modes are risky since we do not always have good geometry for rail lines. Without timestamps I think this is going to be hard.

[2017-09-18 11:04] kevinkreiser commented on #930
it seems like in this case multimodal doesnt have anything to do with rail, ie transitland data. it seems like in this case multimodal just means take any edges that match the case. in other words a costing that doesnt filter edges and therefore just lets the GPX match whatever shapes match the edges (whichever those are) best

[2017-09-18 14:00] ptpt commented on #930
@dnesbitt61 yes, multiple modes, only walking, bicycling, and auto.

@kevinkreiser yes, matching whatever edges often result in wrong matches. What I proposed is like a `single` mode. In this mode, it considers all roads as `multimodal` does, but it assumes that the trace is recorded in a single mode -- walking, bicycling or auto, we don't know. In a single mode, it's unlikely to match segments li

[2017-09-18 14:24] ptpt commented on #823
I think https://github.com/valhalla/valhalla/issues/823#issuecomment-326581198 makes sense.

TODO:
1. [ ] return scores together with paths from `OfflineMatch`
2. [ ] if there is breakage, then the score should be -1.0

[2017-09-18 14:26] kevinkreiser commented on #930
@migurski i heard you might be asking for something like this, where mapmatching kind of guesses the costing model. just wanted to clue you into this issue in case you wanted to follow along

[2017-09-18 19:16] migurski commented on #930
Thanks Kevin! I'm definitely interested in a broad, general match, to make it possible to match any road segment navigable by any means. We're using this to prototype a visual tool, so it's important that results "look roadlike" and not important that they be legal. Hope that makes sense.

[2017-09-19 08:01] ptpt commented on #930
Yeah, "given a trace, detecting its travel mode" would be another useful output.

[2017-09-21 01:59] geochasm opened #931 "valhalla_build_tiles core dump"
I followed the ppa-based instructions on a ubuntu 16.04 system and the installation completed with no issues; when I run valhalla_build_tiles I am getting a core dump - see below; not sure if it is something in my valhalla.json config file or if I am calling the valhalla_build_tiles incorrectly; core dump happened with absolute paths to config and pbf file as well. See error below. I can also prov

[2017-09-21 06:27] molind opened #932 "valhalla_build_tiles and mem_map performance"
I've noticed that at some points of routing tiles generation `valhalla_build_tiles` loads system by kernel calls, more that user calls. I've checked it using instruments and found two issues. Both is not critical, but once solved - they could cause dramatical speedup in tile generation.

midgard/sequence.h and especially mem_map is highly uneffective. It very costly operation to memory map somethi

[2017-09-21 06:29] molind opened #933 "valhalla_build_tiles and GetAdminInfo performance"
I've noticed that at some points of routing tiles generation `valhalla_build_tiles` loads system by kernel calls, more that user calls. I've checked it using instruments and found two issues. Both is not critical, but once solved - they could cause dramatical speedup in tile generation.

GetAdminInfo uses sqlite in multithreaded mode. And it's locks on all malloc operations. 65% of system load cau

[2017-09-21 09:33] molind opened #934 "One more optimization suggestion. GraphEnhancer."
Next stage is in progress. And I have one more optimization suggestion. When you iterate over tiles in tile queue your goal is to lock tile queue for minimal duration of time. Ideally only to pop one more item from it. But in your case you keep it locked while tile is deserialized. This long lock stops all other threads to wait for a single i/o operation. It takes 72% of time spent on mutexes inse

[2017-09-21 10:16] kevinkreiser commented on #931
that means you are out of memory. we do have some minimum requirements as far as ram goes but i think it should be in the single digit gigabytes. how much ram do you have in your system? i think i would suggest at least 4gb

[2017-09-21 10:27] kevinkreiser commented on #932
hey thanks for the investigation. yes we make extensive use of memory maps. the reason we need this is so that users with normal computers (like the core developers of this software) can actually make tile data for a planets worth of data. to keep the amount of data we need in memory wouldnt be possible. note that final product is something like 50gb of tiles for the planet, no commodity computers

[2017-09-21 10:30] kevinkreiser commented on #933
that sounds like a good idea. im not sure that we were aware of sqlite having a readonly (and hence threadsafe without mutex) mode! we'll give it a try! thanks!

[2017-09-21 10:33] molind commented on #932
Oh. There is an app called Instruments. It's included inside the XCode. It's most powerful performance profiler I ever seen. Just extract zip file and open it with Instruments (I used last version shipped with Xcode 9 to record stats). As you can see on screenshot 98% of time is spent on munmap() during flush().

![screen shot 2017-09-21 at 1 32 10 pm](https://user-images.githubusercontent.com/102

[2017-09-21 10:36] molind commented on #932
Unfortunately you can't view it not on macOS. :(

[2017-09-21 10:39] molind commented on #933
Happy to help. Since I should wait until it finishes with planet import I decided to attach profiler and check what's is going on. :)

![screen shot 2017-09-21 at 1 39 16 pm](https://user-images.githubusercontent.com/102496/30691984-4d246fce-9ed2-11e7-8e47-bc8d23910737.png)

[2017-09-21 11:00] kevinkreiser commented on #934
basically the issue is that when writing a tile (an operation that takes a little bit of time) we open the file in truncate mode. this wipes the file first  so other threads trying to read the tile will see an blank file. then when the thread writing to it is done and calls `file_handle.close()` finally the tile info is flushed to disk. so to avoid reading threads seeing blank tiles while they are

[2017-09-23 15:42] geochasm commented on #931
Apparently my EC2 t2.micro instance with 1 GB of ram was not  up to the task; I have things working now with a larger instance. Thank you for the quick reply!

[2017-09-23 15:49] geochasm opened #936 "valhalla_build_config error on Ubuntu 16.04"
I am having no issues with Valhalla running on an AWS EC2 instance with Ubuntu 14.04.

However, on an EC2 instance with Ubuntu 16.04 the valhalla_build_config step throws this error - "/usr/bin/env: âpythonâ: No such file or directory"

Here are the steps to reproduce:
Launch a new 16.04 EC2 instance
sudo apt-get update
sudo apt-get upgrade
sudo add-apt-repository -y ppa:valhalla-core/valhalla
sud

[2017-09-24 17:07] kevinkreiser commented on #936
Looks like you don't have either env or python which is really strange. Make sure python is installed. I suppose we should make python a dep of valhalla-bin

[2017-09-28 01:01] mcheung610 opened #941 "missing test/data/tmp_utrecht_tiles"
I am getting image not found when I ran `make test`. It looks like it is missing `test/data/tmp_utrecht_tiles`

[code]

[2017-09-28 10:52] kevinkreiser commented on #941
It looks like to me that something is going wrong with the linking when it runs the program. There is a make target that builds these tmp utrecht tiles which we use for tests. When that program runs it seems from your output, that its failing to link the proper libraries and so it fails to run. I dont know much about how this works on macs but id see if you can run the command in the target that i

[2017-09-28 21:37] mcheung610 commented on #941
ah thanks. I got this resolved now. Please correct me if I am wrong. For anyone who is trying to build this on mac, you will need to upgrade gcc for c++11 and recompile some of its dependencies, like boost and protobuf, and re-create the symlink in /usr/local/include

[2017-09-28 21:37] #941 closed

[2017-09-28 22:56] mcheung610 opened #942 "How to debug valhalla crashes?"
I followed the instructions in https://github.com/valhalla/valhalla#command-line-tools to build the command line tool in mac osx, but I am getting `Abort trap: 6` when running the command below. Nothing seems to be logging to the path I specified in the `valhalla.json` file. I am not sure if that's normal. I am wondering if there is a way to turn on the logging, so I can see what is going on here.

[2017-09-29 15:39] kevinkreiser commented on #942
i dont have a lot of ideas about doing this on mac but if you have gdb and libtool, you should be able to build valhalla in debug mode and run the program with gdb to see where its aborting. libtool complicates this a bit, so on linux debugging it requires you to first configure and rebuild it with debug info, something like this:

    ./configure CFLAGS="-O0 -g -ggdb" CXXFLAGS="-O0 -g -ggdb"

[2017-09-29 15:50] dnesbitt61 commented on #942
Also note that working output should be like this:

2017/09/29 15:47:23.843089 ^[[33;1m[WARN]^[[0m Tile extract could not be loaded
2017/09/29 15:47:23.843159 ^[[32;1m[INFO]^[[0m routetype: auto
2017/09/29 15:47:23.867446 ^[[32;1m[INFO]^[[0m Location Processing took 24 ms
2017/09/29 15:47:24.416432 ^[[32;1m[INFO]^[[0m PathAlgorithm GetBestPath took 548 ms

So something seems to be going wrong in t

[2017-10-02 20:54] mcheung610 opened #945 "what(): unable to read blob from file"
I am getting the error below when I tried to build the routing data. I launched this instance using the dockerfile from https://github.com/valhalla/docker. I tried both `source` and `ppa` options, but both of them gave me the same error. Do you guys have any ideas what I did wrong? I am going to try to build it in another branch to see if I will get the same error. Will report back my finding.

[c

[2017-10-02 21:48] mcheung610 commented on #945
looks like this error is related sharing a drive between mac and this docker container

[2017-10-03 06:59] mcheung610 commented on #691
@drewda will it be possible to host a transitland proxy? It could bring a lot of benefits in term of scaling out the Transitland Datastore.

[2017-10-03 10:27] kevinkreiser commented on #945
this error happens when the header in the pbf file says that the blob is larger than what is able to be read from the file. what this means is that it was able to get out the header but not the remainder of the file. this would make me think that it isnt something about the filesystem, since it was able to get out the header but rather that the pbf itself is somehow messed up. can you check the ch

[2017-10-03 13:48] #927 closed

[2017-10-04 00:15] gknisely commented on #945
Could it be the fact that you are downloading Switzerland but saving to **switzerland-latest.osm.pbf.1**

2017-10-02 20:49:01 (5.85 MB/s) - '**switzerland-latest.osm.pbf.1**' saved [312929972/312929972]

Then trying to build the tiles with the previous copy that you download or partially downloaded?

root@9ac13e624d8a:/test_data# valhalla_build_tiles -c valhalla.json **switzerland-latest.osm.pbf**

[2017-10-04 06:28] mcheung610 commented on #945
Thanks. I didn't notice that.

[2017-10-04 06:28] #945 closed

[2017-10-04 11:11] kevinkreiser commented on #945
@gknisely :eagle: :eyes:

[2017-10-04 14:48] glifchits commented on #894
Just want to say that we'd find this really useful! I've subscribed to this issue to track progress on this.

[2017-10-04 17:56] farough opened #947 "Roundabout Inconsistencies"
Hi,

I've started to implement Mapzen into our mobile apps, but I'm having issues with the directions regarding Roundabouts. We're using biking directions and I'm finding many of the roundabouts give inconsistent and often inaccurate values for the exit number. Even going to a single roundabout and making a request for each different exit, I often get the same exit number in both the exit count an

[2017-10-04 18:30] dgearhart commented on #947
https://www.openstreetmap.org/directions?engine=mapzen_car&route=49.07855%2C6.10254%3B49.07699%2C6.10004#map=19/49.07776/6.10131

Car works correctly
![roundabout_car](https://user-images.githubusercontent.com/7515853/31192892-7f1ced2e-a910-11e7-84d8-2a982656bd6e.png)

Bicycle is not correct
![roundabout_bicycle](https://user-images.githubusercontent.com/7515853/31192910-87f3a3f2-a910-11e7-99b2-2e

[2017-10-05 00:43] mcheung610 opened #948 "valhalla_build_transit usage"
Hey guys,

I would like to setup a local instance of valhalla to test out the multi modal routing engine. I am running into a problem building the transit tiles. I have launched my own instance of transit.land (because I was hitting rate limit using transit.land). And I successfully loaded the feed following [this guide](https://github.com/transitland/transitland-datastore/blob/master/doc/local-in

[2017-10-05 00:45] mcheung610 commented on #948
the output of my transit.land feed import

https://gist.github.com/mcheung610/f407add31d31fd860f8587ccd42faa4d

[2017-10-05 00:56] gknisely commented on #948
@drewda irees Any idea why the SPPs are empty?

[2017-10-05 16:54] mcheung610 commented on #948
I wonder if this has to do with the import level. I am looking at the FeedEaterService and it need to be import level 2 or above to call `graph.ssp_schedule_async`

[2017-10-05 17:14] gknisely commented on #948
I believe that is the issue.  Try import level 4.

[2017-10-05 20:16] farough commented on #947
That's good to know, we're only using Bicycling for our application, so it would be great if this bug could be addressed.

[2017-10-05 22:30] mcheung610 commented on #948
Thanks. That worked but I am still a bit confused how to package the transit tiles to the server. I am getting `2017/10/05 22:29:35.187735 [ANALYTICS] 400::Cannot reach destination - too far from a transit stop` even I place my start and finish next to the station. Do you know if my following commands are correct? Thanks

[code]

[2017-10-05 22:35] dnesbitt61 commented on #948
Wrong order. Build transit tiles first. Point to them in the config you use
for Valhalla build tiles. Valhalla build tiles connects the transit network
to the OSM road network.

Sorry for the brevity, on mobile phone. If you have further questions let
us know and can give more details.

On Oct 5, 2017 6:30 PM, "Michael Cheung" <notifications@github.com> wrote:

[2017-10-05 23:01] mcheung610 commented on #948
I change the order but it looks like the tiles are purge when I run `valhalla_build_tiles`

[code]

[code]

[2017-10-05 23:06] dnesbitt61 commented on #948
When you run Valhalla build tiles you need to have the transit dir set in
the conf file to point to the directory written by Valhalla build transit.

On Oct 5, 2017 7:01 PM, "Michael Cheung" <notifications@github.com> wrote:

[2017-10-05 23:18] mcheung610 commented on #948
Yeah I have tried this but was getting the status code: 400 bad request.

valhalla.json
[code]

[code]

[code]

[2017-10-05 23:21] dnesbitt61 commented on #948
Did you use the script to build the valhalla.json file? This error seems to
indicate an incomplete valhalla.json file

On Oct 5, 2017 7:18 PM, "Michael Cheung" <notifications@github.com> wrote:

[2017-10-05 23:22] mcheung610 commented on #948
Yes I used this command

[code]

[code]

[2017-10-05 23:30] dnesbitt61 commented on #948
Yea that looks right. The fact that it got to Thor should have told me that
wasn't the case.
Will see if anyone on the team has seen this issue or has ideas.

On Oct 5, 2017 7:22 PM, "Michael Cheung" <notifications@github.com> wrote:

[2017-10-06 00:12] gknisely commented on #948
You deleted your transit data on accident.
2017/10/05 22:52:03.910467 [WARN] Non-empty /data/valhalla_tiles/3 will be purged of tiles

You need to save your transit data to a separate directory from your route tiles.  I usually set it up like this.... /data/valhalla/transit and /data/valhalla/tiles.  Make sure you update your config to point to the correct transit data directory and tiles director

[2017-10-06 17:25] mcheung610 commented on #948
I have the transit and tile in the separate folder. I see the transit tiles being added.

[code]

However, I am getting 400::basic_string::at error at https://github.com/valhalla/valhalla/blob/master/src/thor/worker.cc#L220

[code]

[2017-10-06 18:34] dnesbitt61 commented on #948
Do any routes work, or are you just having a problem with just this one?

On Oct 6, 2017 1:26 PM, "Michael Cheung" <notifications@github.com> wrote:

[2017-10-06 18:36] mcheung610 commented on #948
All the other routes work except multimodal.

On Fri, Oct 6, 2017 at 11:34 AM, David Nesbitt <notifications@github.com>
wrote:

[2017-10-06 19:31] dgearhart commented on #947
Added test routes here:
https://github.com/valhalla/valhalla/blob/master/test_requests/eu_roundabout_routes.txt#L12-L29

[2017-10-08 23:51] sfkeller commented on #42
What is the reason that this issue about pedestrian routing through areas has such low priority?

I'm asking because mappers obviously continue to add "virtual" ways over areas in OSM. This is unncessary and like "tagging for the router". In addition it looks weird in renderers, because such pedestrian ways can't be distinguished from "real" ones without guessing...

[2017-10-09 16:37] jyunis commented on #919
@dnesbitt61 : Is there any other info I can send to help with this? I'm definitely willing to dig up more examples if that would be helpful (assuming I can reproduce this reliably). Let me know, and thank you!

[2017-10-10 10:43] kevinkreiser commented on #42
@sfkeller the low priority isnt deliberate, its just the case that we have so many issues and features to work on that this type of data investigation doesnt make it to the front. we are quite a small team and often hope that others might take the code and do experiments to resolve some issues that they find important.

also wenn du die Zeit häsch, chönnscht gärn hier: https://github.com/valhalla/

[2017-10-10 12:15] dnesbitt61 commented on #919
We have this on our radar to investigate in Q4, but likely won't be able to get to this for a couple of weeks. We will let you know if we have questions. Sorry for the delay but have been trying to wrap up a couple of other projects.

[2017-10-10 13:12] jyunis commented on #919
No problem, thanks for the update.

[2017-10-10 21:32] farough opened #953 "Occasional No Path Found without an obvious reason"
Hi,

I've noticed that there are certain locations where Mapzen returns:
{"error_code":442,"error":"No path could be found for input","status_code":400,"status":"Bad Request"}

However, there is no obvious reason for this failure. Locations very close to this location will snap to the closest road and create a path. Even some farther away from the road.

The following location option is such an ex

[2017-10-11 11:29] kevinkreiser commented on #953
you have specified that you want a bike route. the only way that has bike access and is near your destination location is: http://www.openstreetmap.org/way/272850874

all the ways it connects to dont have bike access so the route fails. this should be solved by the fact that you sent in a reachability of 50 though (this edge only has reachability 1) so i'll have a look at this to see why its not i

[2017-10-11 11:51] kevinkreiser commented on #953
ok first thing is that the parameter isn't called `maximum_reachability` but rather `minimum_reachability`. the idea being that youd want to only use locations that are reachable from **at least** `n` nodes. lets simplify the request down:

    {"costing":"bicycle","locations":[{"lat":45.526807,"lon":-73.596462,"minimum_reachability":50,"radius":0},{"lat":45.532008,"lon":-73.587455,"minimum_reacha

[2017-10-11 14:21] kevinkreiser commented on #953
ok so the issue was that requests around this area were sometimes using the A* algorithm in lieu of the bidirectional A* algorithm. thats why it was only occasionally failing. it turned out there was a typo in the A* algorithm and we have a PR in review to fix this. Thanks very much @farough for pointing this out, @dnesbitt61 had seen this problem before and had the fix for it, we just hadnt gotte

[2017-10-12 08:24] BobC76 opened #955 "Possible routing inconsistency or else unexpected tag handling"
I discovered an inconsistency in the routing when comparing the mapzen routing available on OSM with that of other tools.
This route http://www.openstreetmap.org/directions?engine=mapzen_bicycle&route=51.46407%2C-2.55384%3B51.46336%2C-2.55103#map=19/51.46372/-2.55244
 takes the most optimum path, whereas http://www.openstreetmap.org/directions?engine=mapzen_bicycle&route=51.46336%2C-2.55103%3B51.4

[2017-10-12 12:27] dnesbitt61 commented on #955
It takes 1 to 2 days for OSM edits to make it through our system into the routing engine. I see that there have been a lot of edits in the area over the last day. If this is still happening in a few days please re-open the issue and we can investigate.

[2017-10-12 12:27] #955 closed

[2017-10-13 12:28] #953 closed

[2017-10-13 16:34] dgearhart opened #961 "Roundabouts and pedestirans"
Found issue when investigating #947

The path does not look correct - should it stay on roundabout? or should it avoid roundabout?
![rb_walking](https://user-images.githubusercontent.com/7515853/31556353-b0e4e204-b012-11e7-8e90-6c146d9a0830.png)

[2017-10-13 16:39] #947 closed

[2017-10-13 16:41] dgearhart commented on #947
@farough we are planning to have in production next week

[2017-10-13 16:56] dnesbitt61 commented on #961
Tough question. Pedestrian routes should generally avoid roundabouts but if it is going to take this path then it should stay on the roundabout. pedestriancost.cc has this:

// Avoid roundabouts
constexpr float kRoundaboutFactor = 5.0f;

Try reducing a bit perhaps we can get to a point that if it does take a roundabout it will stay on it? Though probably the right solution is to move the roundabou